﻿@model ClientDashboard.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    <div class="row" style="height: 100px;">
        <div class="col-sm-12 col-md-12 ">
        </div>
    </div>  

    <div class="row" style="">
        <div class="col-sm-12 col-md-12 align">

            <div class="site__container">

                <div class="grid__container form form--login" style="font-size: medium">
                    
                    <div class="form__field" style="padding-top: 15px">
                        <label class="icon-password" style="background-color: #363b41; width: 50px; height: 50px; text-align: center"></label>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form__input", @placeholder = "Current Password" })

                    </div>

                    <div class="form__field">
                        <label class="icon-password" style="background-color: #363b41; width: 50px; height: 50px; vertical-align: middle; text-align: center"></label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form__input", @placeholder = "New Password" })

                    </div>
                    <div class="form__field">
                        <label class="icon-password" style="background-color: #363b41; width: 50px; height: 50px; vertical-align: middle; text-align: center"></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form__input", @placeholder = "Confirm Password" })

                    </div>
                    <div class="form__field">
                        <input type="submit" value="Change Password" style="height: 50px">
                    </div>


                </div>
                <div style="color: red; font-weight: normal; font-size: small; padding: 0; margin: 0; list-style-type: none; text-align: center">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                </div>

            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}