﻿@model ClientDashboard.Models.Client

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="adminContainer">
@using (Html.BeginForm("Create", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

 @Html.MvcSiteMap().SiteMapPath()
        <h2>Client - Create
            <div class="backbtn pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </h2>
 <div class="panel panel-default">
  <form class="form-inline">
    <div class="form-group">
        <div class="editor-label col-md-2">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field col-md-4">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="editor-label col-md-2">
            @Html.LabelFor(model => model.ImagePath)
        </div>
        <div class="editor-field col-md-4">
            @* @Html.EditorFor(model => model.ImagePath)*@
            <input type="file" name="file" id="file" />

            @Html.ValidationMessageFor(model => model.ImagePath)
        </div>
    </div>
    <div class="form-group">
        <div class="editor-label col-md-2">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field col-md-4">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>
    </div>
     <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
     </div>
        </form>
 </div>
}


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
