﻿@model BentleyInterface.Models.AbbottWeeklyQuality

@{
    ViewBag.Title = "Add Quality Data";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.message</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Week_Start_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Week_Start_Date)
                @Html.ValidationMessageFor(model => model.Week_Start_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentID, "AgentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AgentID", "Select an Agent")
                @Html.ValidationMessageFor(model => model.AgentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Call_Quality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Call_Quality)
                @Html.ValidationMessageFor(model => model.Call_Quality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Data_Entry_Quality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Data_Entry_Quality)
                @Html.ValidationMessageFor(model => model.Order_Data_Entry_Quality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes_Quality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes_Quality)
                @Html.ValidationMessageFor(model => model.Notes_Quality)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Data" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
