﻿@model BentleyInterface.Models.AbbottWeeklyQuality

@{
    ViewBag.Title = "Details";
}

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Week_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Call_Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Call_Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Data_Entry_Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Data_Entry_Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes_Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes_Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbbottAgent.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbbottAgent.AgentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
