﻿@model IEnumerable<BentleyInterface.Models.AbbottWeeklyQuality>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Add Weekly Quality Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Week_Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbbottAgent.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Call_Quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Data_Entry_Quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes_Quality)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Week_Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbbottAgent.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call_Quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Data_Entry_Quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes_Quality)
        </td>
   
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>
