﻿@model ClientDashboard.Models.AspNetRole

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    select {
     margin-left: 0px; 
     margin-right: 0px; 
    
}
</style>
<div class="adminContainer">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.MvcSiteMap().SiteMapPath()

        <h2>Campaigns - Create
            <div class="backbtn pull-right">
                <span class="glyphicon glyphicon-chevron-left"></span>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </h2>
        <div class="panel panel-default">
            @* <div class="editor-label">
            @Html.LabelFor(model => model.RoleId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleId)
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>*@
            <form class="form-inline">
                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field col-md-4">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.LabelFor(model => model.ClientID, "Client")
                    </div>
                    <div class="editor-field col-md-4">
                        @Html.DropDownList("ClientID", null,new { @class  = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.LabelFor(model => model.CampaignType)
                    </div>
                    <div class="editor-field col-md-4">
                        @*@Html.EditorFor(model => model.CampaignType)*@
                        @Html.DropDownList("CampaignType", null,new { @class  = "form-control" })
                        @Html.ValidationMessageFor(model => model.CampaignType)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.LabelFor(model => model.SwitchType)
                    </div>
                    <div class="editor-field col-md-4">
                        @*@Html.EditorFor(model => model.CampaignType)*@
                        @Html.DropDownList("SwitchType", null,new { @class  = "form-control" })
                        @Html.ValidationMessageFor(model => model.SwitchType)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
