﻿@model IEnumerable<ClientDashboard.Models.AspNetRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<script>
    $(function () {
        var table = $('#table').dataTable({

            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: true,
        });
    });
</script>
<div class="adminContainer">
    @Html.MvcSiteMap().SiteMapPath()
<h2>Campaigns/Roles
    <span class="createPro ">
    @Html.ActionLink(" ", "Create", new {}, new { @class = " glyphicon glyphicon-plus" })
    </span>
</h2>

     <div class="panel panel-default">

<table id="table" class="Custable Rec">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignType)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.SwitchType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
    
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignType)
                </td>
                   <td>
                    @Html.DisplayFor(modelItem => item.SwitchType)
                </td>
                <td class="tdLinks">
                    
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = " btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = " btn btn-default" })
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>