﻿@model ClientDashboard.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="LoginPageBody">
        <div class="LoginPageContent">
            <div class="LoginPageLogo"><img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" /></div>
            <div class="LoginBox">
                <div class="LoginPanelHeading">@ViewBag.Title</div>

                @if (TempData["Message"] != "" && TempData["Message"] != null)
                {
                    <div class="LoginValidationError" style="display:block">@TempData["Message"]</div>
                }
                <div class="LoginFormFields">
                    <div class="LoginFormField ForgotPassFormField">
                        <div class="form-group">
                            <label class="icon-username"></label>

                        </div>
                        @Html.TextBox("UserName", "", new { @class = "form__input", @placeholder = "Username" })
                    </div>



                </div>
                <input type="submit" value="Email Link" class="LoginBtn">

                <div class="LoginCheck">
                    <a href="@Url.Action("Login", "Account")" title="Login Page">
                        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Back to login
                    </a>
                </div>

            </div>
        </div>


    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
