﻿@{
    ViewBag.Title = "Reset Password Confirmation";
}


<div class="LoginPageBody">
    <div class="LoginPageContent">
        <div class="LoginPageLogo">
            <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
        </div>
        <div class="LoginBox">
            <div class="LoginPanelHeading">@ViewBag.Title</div>



            <div style="color: red; font-weight: normal; font-size: small; padding: 0; margin: 0; list-style-type: none; text-align: center">
                <br />
                Your password has been reset. 
            </div>
            <div class="LoginCheck">
                <a href="@Url.Action("Login", "Account")" title="Login Page">
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Back to login
                </a>
            </div>
           
        </div>
    </div>


</div>

