﻿@model ClientDashboard.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}

@using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new {  role = "form" }))
{

    <div class="LoginPageBody">

        <div class="LoginPageContent">
            <div class="LoginPageLogo">
                <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
            </div>
            <div class="LoginBox">
                <div class="LoginPanelHeading">Verification Code</div>
                <div class="LoginValidationErrorList">
                    @Html.AntiForgeryToken()
                    @Html.Hidden("provider", @Model.Provider)
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                </div>
                <div class="LoginFormFields">

                    <div class="LoginFormField ForgotPassFormField">
                        <div class="form-group">
                            <label class="icon-password"></label>
                        </div>
                        @Html.TextBoxFor(m => m.Code, new { @class = "form__input", @placeholder = "Code" })

                    </div>
                </div>

                <div class="LoginCheck">
                    <label class="myCheckbox" id="refreshcheckboxlabel">


                        @Html.CheckBoxFor(m => m.RememberBrowser)
                        <span></span>
                    </label>

                    <label id="autorefresh">Remember Browser</label>

                </div>
                <input type="submit" value="Submit" class="LoginBtn" />
                <div class="LoginCheck">
                    <a href="@Url.Action("Login", "Account")" title="Login Page">
                        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Back to login
                    </a>
                </div>
            </div>
        </div>

    </div>

    

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

