﻿
<!DOCTYPE html>

<html>
<head>
   <title> </title>

    <style>
        .searchBar {
            padding: 5px;
        }

            .searchBar input[type=text] {
                padding: 4px;
                border: 1px solid #e4e4e4;
                -webkit-border-radius: 3px 0 0 3px;
                border-radius: 3px 0 0 3px;
                width: 5000px;
                margin: 0px;
                float: left;
            }

            .searchBar input[type=submit] {
                padding: 5px 10px;
                -webkit-border-radius: 0 3px 3px 0;
                border-radius: 0 3px 3px 0;
                background: #5d5d5d;
                border: none;
                color: #fff;
                margin: 0px;
                cursor: pointer;
            }

                .searchBar input[type=submit]:hover {
                    background: #353535;
                }
    </style>
</head>

<body>
    <div class="searchBar">
        <input type="text">
        <input type="submit" value="Search Knowledgebase">
    </div>
</body>
</html>


