﻿<!DOCTYPE html>
<html>
<head>
    <title>Search Box Example 2 - default placeholder text gets cleared on click</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <!-- JAVASCRIPT to clear search text when the field is clicked -->
    <script type="text/javascript">
        window.onload = function () {
            //Get submit button
            var submitbutton = document.getElementById("tfq");
            //Add listener to submit button
            if (submitbutton.addEventListener) {
                submitbutton.addEventListener("click", function () {
                    if (submitbutton.value == 'Search our website') {//Customize this text string to whatever you want
                        submitbutton.value = '';
                    }
                });
            }
        }
    </script>
    <!-- CSS styles for standard search box with placeholder text-->
    <style type="text/css">
        #tfheader {
            background-color: #c3dfef;
        }

        #tfnewsearch {
            float: right;
            padding: 20px;
        }

        .tftextinput2 {
            margin: 0;
            padding: 5px 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #666;
            border: 1px solid #0076a3;
            border-right: 0px;
            border-top-left-radius: 5px 5px;
            border-bottom-left-radius: 5px 5px;
        }

        .tfbutton2 {
            margin: 0;
            padding: 5px 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            border: solid 1px #0076a3;
            border-right: 0px;
            background: #0095cd;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
            background: -moz-linear-gradient(top, #00adee, #0078a5);
            border-top-right-radius: 5px 5px;
            border-bottom-right-radius: 5px 5px;
        }

            .tfbutton2:hover {
                text-decoration: none;
                background: #007ead;
                background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
                background: -moz-linear-gradient(top, #0095cc, #00678e);
            }
            /* Fixes submit button height problem in Firefox */
            .tfbutton2::-moz-focus-inner {
                border: 0;
            }

        .tfclear {
            clear: both;
        }
    </style>
</head>
<body>
    <!-- HTML for SEARCH BAR -->
    
        <form id="tfnewsearch" method="get" action="http://www.google.com">
            <input type="text" id="tfq" class="tftextinput2" name="q" size="21" maxlength="120" value="Search our website"><input type="submit" value=">" class="tfbutton2">
        </form>

</body>
</html>
