﻿@model ClientDashboard.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script>
    $(function () {
        var table = $('#table').dataTable({

            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: true,
        });
    });
</script>
<div class="adminContainer">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
          @Html.MvcSiteMap().SiteMapPath()
        <fieldset>

            <h2>User Profile - Edit
        <div class="backbtn pull-right">
            <span class="glyphicon glyphicon-chevron-left"></span>
            @Html.ActionLink("Back to List", "Index")
        </div>
            </h2>
            <div class="panel panel-default">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.UserId)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.TextBoxFor(model => model.UserId, new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.FullName)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.EditorFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </div>
                </form>
            </div>

         
                <h2>Campaigns & Modules Assigment</h2>

                <div class="panel panel-default ">
                    <table id="table" class="Custable Rec">
                        <thead>
                            <tr>
                                <th>Campaign</th>
                                <th>Client</th>
                                <th>Assign All</th>
                                @{
        foreach (var item in Model.ModulesList)
        {
                                    <th>@item.Name</th>
        }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
        int i = 0;
        foreach (var item in Model.RolesList)
        {
                
                                <tr>
                                    <td>@Html.Label(item.Campaign, new { @class = "control-label" })</td>
                                    <td>@Html.Label(item.Client, new { @class = "control-label" })</td>
                                    <td>@Html.HiddenFor(x => x.RolesList[i].RoleId)
                                        @*    @Html.HiddenFor(x => x.RolesList[i].value)
                        @Html.CheckBoxFor(x => x.RolesList[i].selected, new { @onclick = "SetAllCheckBoxes(this)", @id = @item.value })*@
                                        <label class="myCheckbox">
                                            <input type="checkbox" name="@item.RoleId" id="@item.RoleId" onclick="SetAllCheckBoxes(this)"/>
                                            <input />
                                            <span></span>
                                        </label>
                                    </td>

                                    @for (int j = 0; j < item.RoleModList.Count; j++)
                                    {
                                        <td>
                                            @Html.HiddenFor(x => x.RolesList[i].RoleModList[j].value)
                                            <label class="myCheckbox" id="refreshcheckboxlabel">
                                                @Html.CheckBoxFor(x => x.RolesList[i].RoleModList[j].selected, new { @class = item.RoleId })
                                                <span></span>
                                            </label>
                                        </td>
                                    }


                                </tr> 
                                    i++;
        }
                            }
                        </tbody>
                    </table>
                     <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
                </div>
         
           
        </fieldset>
    }
</div>


<script>
    function SetAllCheckBoxes(obj) {
        var c = new Array();
        c = document.getElementsByClassName(obj.id);
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox') {
                c[i].checked = obj.checked;
            }
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
