﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Dashboard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    @Scripts.Render("~/bundles/menu")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/DataTables")

    <script src="~/Scripts/datepicker.js"></script>
    <link rel="stylesheet" href="~/Content/datepicker.css" />
    <script src="~/Scripts/loadingoverlay.js"></script>


    <script type="text/javascript">
      /*  $(window).load(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("[data-toggle]").click(function () {
                var toggle_el = $(this).data("toggle");
                $(toggle_el).toggleClass("open-sidebar");
            });
            $(".swipe-area").swipe({
                swipeStatus: function (event, phase, direction, distance, duration, fingers) {
                    if (phase == "move" && direction == "right") {
                        $(".container1").addClass("open-sidebar");
                        return false;
                    }
                    if (phase == "move" && direction == "left") {
                        $(".container1").removeClass("open-sidebar");
                        return false;
                    }
                }
            });

        });
	  */
    </script>
	
	<script>
        $(window).load(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
	
    <style>
     
    </style>
</head>
<body class="StatsBody">


    <div class="TopMenuBar">
   @Html.Partial("_LoginPartial")
    </div>

	            <ul class="LeftMenu">
                <li><a href="/Home/Index"><span class='glyphicon glyphicon-home'></span>Home</a></li>

                @if (Session["Agent"] == "true")
                { 
                    <li><a id="menuagent" href='/Dashboard/Agent' style=""><span class='glyphicon glyphicon-user'></span>Agent Performance</a></li>
                }
                @if (Session["Campaign"] == "true")
                { 
                    <li><a id="menucampaign" href='/Dashboard/Campaign'><span class='glyphicon glyphicon-stats'></span>Campaign Performance</a></li>
                }
                @if (Session["Recordings"] == "true")
                { 
                    <li><a id="menurecord" href='/Dashboard/Recordings'>
					<span class="glyphicon glyphicon-film"></span>
					<span class="glyphicon glyphicon-play" style="position: absolute; left: 24px; font-size: 10px; top: 23px;"></span>
					Call Recordings</a></li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    <li><a href="/Account/Register">Create Account</a></li>
  

                }

            

            </ul>
			
    <div class="container-fluid StatesPanel">
            <div>
                @RenderBody()
            </div>
    </div>

    <footer class="PageFooter">
        <div class="col-md-4"></div>
        <div class="col-md-4">© IBEX | Client Dashboard, All rights reserved.</div>
        <div class="col-md-4"></div>

    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
