﻿@model IdentitySample.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Add Phone Number";
}
<div class="ContentEditCont">
<div class="ContentListTitle"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>@ViewBag.Title.</div>
@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
        </div>
    </div>
	
        <div class="KbItemDetailBtns">
            <input type="submit" class="btn btn-primary" value="Send verification code" />
        </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 </div>