﻿@model IdentitySample.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
	
<div class="LoginPageBody">
<div class="LoginPageContent">
	<div class="LoginPageLogo">
	<img class="img-responsive" src="/Content/KbLoginLogo.png">
	</div>

	<div id="loginForm" class="LoginBox">
	<div class="LoginPanelHeading">Change Password Form</div>
	
	<div class="LoginValidationErrorList">
    @Html.ValidationSummary("", new { @class = "text-danger" })
	</div>
	
	<div class="LoginFormFields">
	
	    <div class="LoginFormField">
		<div class="form-group">
        <label class="icon-password"></label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
       </div>
	   </div>
	   
	   
	   <div class="LoginFormField">  
       <div class="form-group">
       <label class="icon-password"></label>
       @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
	   </div>
	   </div>
		
		
		<div class="LoginFormField">  
        <div class="form-group">
        <label class="icon-password"></label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
		</div>

	    <input type="submit" value="Change password" class="LoginBtn" />
		
		
	</div>
	
</div>
</div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}