﻿@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}
<div class="ContentEditCont">
<div class="ContentListTitle"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>@ViewBag.Title.</div>

<p class="text-success">@ViewBag.StatusMessage</p>

        <dl class="dl-horizontal">
            @if (Model.HasPassword)
            {
		<dt>
        Password
        </dt>
		<dd>
        @Html.ActionLink("Change your password", "ChangePassword")
        </dd>
                
            }
            else
            {
			<dt>
				Change your password
			</dt>
			<dd>
                @Html.ActionLink("Pick a password", "SetPassword")
			</dd>
            }

            <dt>Phone Number</dt>
			<dd>@(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {		
					
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
					
            }
            ]
			</dd>
       </dl>

</div>

