﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Dashboard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />



    

</head>
<body class="PageBody">
    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script>
        $(window).load(function () {
            $('[data-toggle="tooltip"]').tooltip();
            
            window.onbeforeunload = function () {
                try {
                    // alert("unload")
                    if ($.connection && $.connection.hub) {
                        $.connection.hub.stop();
                    }
                }
                catch (ex) { }
                finally { }
            }
        });

    </script>
    @Html.Partial("_TopMenu")

    <div>
        @*        @Html.MvcSiteMap().SiteMapPath()*@
        @RenderBody()
    </div>

    <footer class="LoginPageCopright navbar-fixed-bottom">© IBEX | Client Dashboard, All rights reserved.</footer>

    @RenderSection("scripts", required: false)


</body>
</html>
