﻿<script>
    $(function () {


        var numItems = $('.menuitem').length / 2
        $('.menuitem').each(function (i) {

            if (i < numItems)
                $(this).addClass("visible-xs");

        });
       
    });
</script>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "loginpartial", @class = "" }))
    {
    @Html.AntiForgeryToken()

    <div class="navbar navbar-inverse TopNav">
        <div class="container-fluid">

            <a class="navbar-brand Logo" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Images/cd-logo.png")"/>
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <p id="DialingStatus" style="display: none" class="navbar-text navbar-right TopbarUserTxt">



                <span>
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    <span id="status" class="StatusTxt"></span>
                </span>


            </p>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right" style="padding: 0; margin-top: 0px">
                    <li>
                        <a href="/Home/Index" title="Home" data-toggle="tooltip" data-placement="bottom">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="visible-xs-inline-block TopMenuTxt">Home</span></a>
                    </li>

                    @{Html.RenderAction("GetMenuItems", "Dashboard");}



                    <li>
                        <a href="/Home/Download" title="Download" data-toggle="tooltip" data-placement="bottom">
                            <span aria-hidden="true" class="glyphicon glyphicon-save"></span><span class="visible-xs-inline-block TopMenuTxt">Download</span></a>
                    </li>
                    <li>
                        <a href="/Manage/ChangePassword" title="Password" data-toggle="tooltip" data-placement="bottom">
                            <span class="glyphicon glyphicon-lock"></span><span class="visible-xs-inline-block TopMenuTxt">Change Password</span></a>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <li>
                            <a href="/UserProfile/Index" title="Settings" data-toggle="tooltip" data-placement="bottom">
                                <span class="glyphicon glyphicon-cog"></span><span class="visible-xs-inline-block TopMenuTxt">Settings</span></a>
                        </li>
                    }
                    <li>
                        <a href="javascript:document.getElementById('loginpartial').submit()" data-toggle="tooltip" data-placement="bottom" title="Logout">

                            <span class="NavBarUserName">
                                @*@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                @User.Identity.Name
                            </span>

                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>

                        </a>
                    </li>
                </ul>




            </div>
        </div>
    </div>
    }

}