﻿@model ClientDashboard.Models.LoginModel

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{                 
    <div class="LoginPageBody">

        <div class="LoginPageContent">
            <div class="LoginPageLogo">
                <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
            </div>
            <div class="LoginBox">
                <div class="LoginPanelHeading">Sign in to continue to Client Dashboard</div>
                <div class="LoginValidationErrorList">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>

                <div class="LoginFormFields">

                    <div class="LoginFormField">
                        <div class="form-group">
                            <label class="icon-username"></label>
                        </div>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form__input", @placeholder = "Username" })

                    </div>
                    <div class="LoginFormField">
                        <div class="form-group">
                            <label class="icon-password"></label>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form__input", @placeholder = "Password" })

                    </div>
                </div>

                <input type="submit" class="LoginBtn" value="Sign In">


                <div class="LoginCheck">
                    <label class="myCheckbox" id="refreshcheckboxlabel">

                      
                       @Html.CheckBoxFor(m => m.RememberMe)
                        <span></span>
                    </label>

                    <label id="autorefresh">Remember me</label>
                    |
                <a class="LoginForgotPassTxt" href="@Url.Action("ForgotPassword", "Account")">Forgot Password? </a>
                </div>




            </div>



            <div class="row alertBox">
                For optimal performance, we recommend these browsers

        <ul class="browserIcon">
            <li>
                <img src="~/Images/chrome-icon.png" alt="Google Chrome">Chrome 47.x</li>
            <li>
                <img src="~/Images/ff-icon.png" alt="FireFox">Firefox 43.x</li>
            <li>
                <img src="~/Images/safari-icon.png" alt="Safari">Safari 5.1.7</li>
            <li>
                <img src="~/Images/ie-icon.png" alt="Internet Explorer">Internet Explorer 11+</li>
        </ul>


                <p class="text-center AlertBrowsersTxt">Users might experience unexpected results when using other browsers.</p>
            </div>

        </div>

    </div>



  
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
