﻿@model ClientDashboard.Models.RegisterModel
@{
    ViewBag.Title = "Create Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    

    <div class="row settings">
        <div class="LoginPageBody ChangePassword">

            <div class="LoginPageContent">
                @*<div class="LoginPageLogo">
                    <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
                </div>*@
                <div class="LoginBox">
                    <div class="LoginPanelHeading">@ViewBag.Title</div>
                    <div class="LoginFormFields">

                        <div class="LoginFormField">
                            <div class="form-group">
                                <label class="icon-username"></label>
                            </div>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form__input", @placeholder = "Username" })

                        </div>

                        <div class="LoginFormField">
                            <div class="form-group">
                                <label class="icon-password"></label>
                            </div>
                            @Html.PasswordFor(m => m.Password, new { @class = "form__input", @placeholder = "Password" })


                        </div>
                        <div class="LoginFormField">
                            <div class="form-group">
                                <label class="icon-password"></label>
                            </div>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form__input", @placeholder = "Confirm Password" })


                        </div>
                        <div class="LoginFormField">
                            <div class="form-group">
                                <label class="icon-email"></label>
                            </div>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form__input", @placeholder = "Email" })

                        </div>
                        <div class="LoginFormField">
                            <div class="form-group">
                                <label class="icon-username"></label>
                            </div>
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form__input", @placeholder = "Full Name" })


                        </div>
                    </div>
                    @*   <div class="form__field">
                        <label class="icon-client" style="background-color: #363b41; width: 50px; height: 40px; text-align: center; vertical-align: middle;"></label>
                         @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new { @class = "form__input", @placeholder = "Client" })
                    </div>*@

                    <input type="submit" value="Create User" class="LoginBtn">

                    <div style="color: red; font-weight: normal; font-size: small; padding: 0; margin: 0; list-style-position: inside; text-align: center">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                    </div>

                </div>

            </div>
        </div>
    </div>   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}