﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <div class="LoginPageBody">
        <div class="LoginPageContent">
            <div class="LoginPageLogo">
                <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" /></div>
            <div class="LoginBox">
                <div class="LoginPanelHeading">@ViewBag.Title</div>

               
              
                <div style="color: red; font-weight: normal; font-size: small; padding: 0; margin: 0; list-style-type: none; text-align: center">
                    <br />
                     @TempData["Message"]

                </div>
                  <div class="LoginCheck">
                    <a href="@Url.Action("Login", "Account")" title="Login Page">
                        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Back to login
                    </a>
                </div>
            </div>
        </div>


    </div>
@*<div class="row" style="height: 100px;">
    <div class="col-sm-12 col-md-12 ">
    </div>
</div>

<div class="row" style="">

    <div class="col-md-3"></div>
    <div class="col-md-6 align" style="text-align: center">

        <div class="site__container borderstyle ">
            <div class="grid__container form form--login" style="font-size: medium; text-align: center">
                <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
                <hr />
                <h4>@ViewBag.Title</h4>
                <span style="color: red;">@TempData["Message"]</span>
                <div class="LoginCheck">
                    <a href="@Url.Action("Login", "Account")" title="Login Page">
                        <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Back to login
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>*@




