﻿@model ClientDashboard.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    input[type=submit].btn {
    background-color: #337ab7;
    background-image: none;
    border: 1px solid #2e6da4;
    border-radius: 2px;
    color: #fff !important;
    font-size: 13px;
    height: 29px;
    line-height: 29px;
    margin: 0 0.333em 0 0;
    padding: 0 10px;
}
  a.btn,  .btn-checkbox {
  display: inline-block;
  padding: 4px 8px;
   margin: 0 0 0 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color:white;
  border-color: #adadad;
 color: #333 !important;
}
    a.btn:hover, .btn-checkbox :hover {
        color:white !important
    }
    a.btn.active {
         color:white !important
    }
</style>
     <script src="~/Scripts/bootstrap-checkbox.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css"/>
<script>
    $(function () {
        $('.checkboxpicker').checkboxpicker();
        var table = $('#table').dataTable({
            "order": [[1, "asc"]],
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: true,
            fixedHeader: true
        });
    });
</script>
<div class="adminContainer">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.MvcSiteMap().SiteMapPath()
        <fieldset>

            <h2>User Profile - Edit
        <div class="backbtn pull-right">
            <span class="glyphicon glyphicon-chevron-left"></span>
            @Html.ActionLink("Back to List", "Index")
        </div>
            </h2>
            <div class="panel panel-default">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.UserId)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.TextBoxFor(model => model.UserId, new { @readonly = "readonly" })
                        </div>
                          <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.IsAccountActive)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.CheckBoxFor(model => model.IsAccountActive, new { @class = "checkboxpicker" })
                            @Html.ValidationMessageFor(model => model.IsAccountActive)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly" })
                        </div>
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.TwoFactorEnabled)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.CheckBoxFor(model => model.TwoFactorEnabled, new { @class = "checkboxpicker" })
                            @Html.ValidationMessageFor(model => model.TwoFactorEnabled)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label col-md-2">
                            @Html.LabelFor(model => model.FullName)
                        </div>
                        <div class="editor-field col-md-4">
                            @Html.EditorFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>

                    </div>
                </form>
            </div>


            <h2>Campaigns & Modules Assignment</h2>

            <div class="panel panel-default ">
                <table id="table" class="Custable Rec">
                    <thead>
                        <tr>
                            <th>Campaign</th>
                            <th>Client</th>
                            <th>Assign All</th>
                            @{
        foreach (var item in Model.ModulesList)
        {
                                <th>@item.Name</th>
        }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
        int i = 0;
        foreach (var item in Model.RolesList)
        {
                
                            <tr>
                                <td>@Html.Label(item.Campaign, new { @class = "control-label" })</td>
                                <td>@Html.Label(item.Client, new { @class = "control-label" })</td>
                                <td>@Html.HiddenFor(x => x.RolesList[i].RoleId)
                                    <label class="myCheckbox">
                                        <input type="checkbox" name="@item.RoleId" id="@item.RoleId" onclick="SetAllCheckBoxes(this)"/>
                                        <input />
                                        <span></span>
                                    </label>
                                </td>

                                @for (int j = 0; j < item.RoleModList.Count; j++)
                                {
                                    <td>
                                        @Html.HiddenFor(x => x.RolesList[i].RoleModList[j].value)
                                        <label class="myCheckbox" id="refreshcheckboxlabel">
                                            @Html.CheckBoxFor(x => x.RolesList[i].RoleModList[j].selected, new { @class = item.RoleId })
                                            <span></span>
                                        </label>
                                    </td>
                                }


                            </tr> 
                                i++;
        }
                        }
                    </tbody>
                </table>
                <div class="panel-footer">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>


        </fieldset>
    }
</div>


<script>
    function SetAllCheckBoxes(obj) {
        var c = new Array();
        c = document.getElementsByClassName(obj.id);
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox') {
                c[i].checked = obj.checked;
            }
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
