﻿@model IEnumerable<ClientDashboard.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script>
    $(function () {
        var table = $('#table').dataTable({
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: true,
            "order": [[4, "asc"], [0, "asc"]]
        });
    });
</script>

<div class="adminContainer">
    @Html.MvcSiteMap().SiteMapPath()
    <h2>User Profiles
    <span class="createPro ">
        @Html.ActionLink(" ", "Create", new { }, new { @class = " glyphicon glyphicon-plus" })
        @* @Html.ActionLink("Create New", "Register","Account")*@
    </span>
    </h2>
    <div class="panel panel-default">
        <table id="table" class="Custable Rec">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsAccountActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)

                        </td>


                        @if (Convert.ToBoolean(item.IsAccountActive))
                        {
                            <td>Active</td>
                                    
                        }
                        else
                        {
                            <td>Inactive</td>
                        }


                        <td class="tdLinks">

                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = " btn btn-default" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = " btn btn-default" }) @*|
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
