﻿@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet" type="text/css" href="~/Content/Slider.css" />

@Scripts.Render("~/bundles/homejs")

<style>
    .link {
        color: #121111;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: #808080;
    }

    a:active {
        text-decoration: none;
        color: #808080;
    }

    .verticalLine {
        border-left: thick solid #ff0000;
    }
</style>
<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            @* @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
            {
                <div id="adminmenu">
                    <div class="scontainer">
                        <div class="main">
                            <div id="mi-slider" class="mi-slider">

                                <ul>

                                    <li>
                                        <h2>User Profiles</h2>
                                        <a href="/UserProfile/">Manage</a>

                                    </li>
                                    <li>
                                        <h2>Clients</h2>
                                        <a href="/Client/">Manage</a>
                                    </li>
                                    <li>
                                        <h2>Campaigns</h2>
                                        <a href="/Campaign/">Manage</a>
                                    </li>
                                    <li>
                                        <h2>Modules</h2>
                                        <a href="/Module/">Manage</a>
                                    </li>
                                </ul>




                            </div>

                        </div>
                    </div>

                </div>
            }
            else
            {
                *@<div id="menu"></div>
            
        </div>
    </div>
</div>
