﻿@model ClientDashboard.Models.MailModel
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('.ToEmailAddress').SumoSelect({ okCancelInMulti: true, selectAll: true, search: true });
    });
</script>
   
<div class="adminContainer" >
    @*      @Html.DropDownListFor(m => m.To, (IEnumerable<SelectListItem>)ViewBag.ToEmail, new { @class = "ToEmailAddress" })*@

    @Html.MvcSiteMap().SiteMapPath()
    <h2>Email Notification</h2>

    @using (@Html.BeginForm("Emailer", "Administrator", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {
     
         
        <div class="panel panel-default"  style="min-height:400px">
            <form class="form-inline">
                <div class="">
                    <div class="editor-label col-md-2" >
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field col-md-8"  >

                        @Html.DropDownList("Email", (MultiSelectList)ViewBag.Email, new { @class = "ToEmailAddress", @multiple = "multiple" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.LabelFor(model => model.Subject)
                    </div>
                    <div class="editor-field col-md-8">
                        @Html.EditorFor(model => model.Subject)

                        @Html.ValidationMessageFor(model => model.Subject)


                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.Label("Attachment")
                    </div>
                    <div class="editor-field col-md-8">
                        <input type="file" name="file" id="file" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label col-md-2">
                        @Html.LabelFor(model => model.Body)
                    </div>
                    <div class="editor-field col-md-8">
                        @Html.EditorFor(model => model.Body,  new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Body)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Send Email" class="btn btn-default" style="float:right"/>
                    </div>
                </div>
            </form>
        </div>   
    }
</div>
