﻿@{
    ViewBag.Title = "SQLDependency";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>SQL Dependency</h2>
@using (Html.BeginForm("SQLDependency","Administrator"))
{

<input type="submit" value="Start SQL Dependency" />

}  