﻿@model ClientDashboard.Models.webpages_Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="adminContainer">

    @Html.MvcSiteMap().SiteMapPath()
    <h2>Campaigns - Details
        <div class="backbtn pull-right">
            <span class="glyphicon glyphicon-chevron-left"></span>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </h2>

    <div class="panel panel-default">
        <form class="form-inline">
            @*    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoleId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleId)
    </div>*@


            <div class="form-group">
                <div class="editor-label col-md-2">
                    @Html.DisplayNameFor(model => model.RoleName)
                </div>
                <div class="editor-field col-md-4" style="line-height: 30px">
                    @Html.DisplayFor(model => model.RoleName)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label col-md-2">
                    @Html.DisplayNameFor(model => model.Client.Name)
                </div>
                <div class="editor-field col-md-4" style="line-height: 30px">
                    @Html.DisplayFor(model => model.Client.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label col-md-2">
                    @Html.DisplayNameFor(model => model.CampaignType)
                </div>
                <div class="editor-field col-md-4" style="line-height: 30px">
                    @Html.DisplayFor(model => model.CampaignType)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleId }, new { @class = " btn btn-default" })
                </div>
            </div>

        </form>
    </div>
</div>
