﻿@model BentleyInterface.Models.KnowledgeBase


    @{
        ViewBag.Title = "Add an Article";
    }


    


    @using (Html.BeginForm("Create","KB",FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
<div class="ContentEditCont">
	<div class="ContentListTitle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Article</div>
    <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(model => model.Category, "Campaign", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Campaigns", "Select Campaign")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, "Category", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Category", "Select Category")
                    @Html.ValidationMessageFor(model => model.Category)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Filepath, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Filepath" id="Filepath" />

                    @Html.ValidationMessageFor(model => model.Filepath)
                </div>
            </div>

            <div class="form-group">

				<div class="EditFormBtns">
                    <input type="submit" value="Add" class="btn btn-primary" />
					@Html.ActionLink("Back to List", "Index", new {}, new { @class = "btn btn-primary" })
                </div>

            </div>
        </div>
</div>
}


    @section Scripts {
    <script>
        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#Campaigns").change(function () {
                $("#Category").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LoadCategoriesbyCampaign","KB")', // we are calling json method
 
                    dataType: 'json',
 
                    data: { id: $("#Campaigns").val() }, 

 
                    success: function (categoryData) {

                        $("#Category").append('<option value="' + -1 + '">' +
                                "Select Category" + '</option>');

                        $.each(categoryData, function (i, Category) {
                            $("#Category").append('<option value="' + Category.Value + '">' +
                                 Category.Text + '</option>');

                           

 
                        });
                    },
                error: function (ex) {
                    alert('Failed to retrieve Categories.' + ex);
                }
            });
            return false;
        })
        });
</script>



    }
