﻿@model BentleyInterface.Models.KnowledgeBase

@{
    ViewBag.Title = "Delete";
}

<!-- <img src="../../Files/1.png" style="align-content:center" width="1100"> -->

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category1.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.Category1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Details", "Details", new { id=Model.ID})
        </div>
    }
</div>
