﻿@model BentleyInterface.Models.KnowledgeBase

@{
    ViewBag.Title = "Details";
}

<!-- <img src="../../Files/1.png" style="align-content:center" width="1100"> -->

<div class="ContentListCont KbItemDetail">
<div class="KbItemTitle">@Html.DisplayFor(model => model.Title)</div>
	<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
		
            @Html.DisplayNameFor(model => model.Filepath)
        </dt>

        <dd>
		
            @if (Model.Filepath != null && Model.Filepath != "")
            {
                @Html.ActionLink(Model.Filepath, "Download", new { FilePath = Model.Filepath, ContentT = (Model.ContentType == null || Model.ContentType == "") ? "" : Model.ContentType });
            }
            else
            {
                @Html.DisplayFor(model => model.Filepath);
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category1.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.Category1)
        </dd>


    </dl>      
            @if (Model.Filepath != null && (Model.Filepath.EndsWith(".jpeg") || Model.Filepath.EndsWith(".jpg") || Model.Filepath.EndsWith(".png") || Model.Filepath.EndsWith(".bmp") || Model.Filepath.EndsWith(".gif") || Model.Filepath.EndsWith(".tif") || Model.Filepath.EndsWith(".tiff")))
            {
                string path = "../../Files/" + @Model.Filepath.ToString().Replace(" ","%20");
               
   
                <img src=@path>
            }

<div class="KbItemDetailBtns">
<div>
    @if (Request.IsAuthenticated && User.IsInRole("KBEditor"))
    {
      @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    }
    @if (Request.IsAuthenticated && User.IsInRole("KBEditor"))
    {
      @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-primary" })
    }
    @if(ViewBag.Choice >= 1)
    {
        @Html.ActionLink("Back to List", "AAIC", new { id = ViewBag.Choice}, new { @class = "btn btn-primary" })
    }
    else if(ViewBag.Choice < 1)
    {
         @Html.ActionLink("Back to List", "Search", new { SearchCriteria = Session["SearchCriteria"] }, new { @class = "btn btn-primary" })
    }
    else
    { 
        @Html.ActionLink("Back to List", "Index")
    }
</div>
</div>
</div>

