﻿@model BentleyInterface.Models.KnowledgeBase

@{
    ViewBag.Title = "Edit";
}

<!-- <img src="../../Files/1.png" style="align-content:center" width="1100"> -->


@using (Html.BeginForm("Edit", "KB", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="ContentEditCont">
	
	<div class="ContentListTitle"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>Edit Information</div>
	
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.date)
        @Html.HiddenFor(model => model.ContentType)
        @Html.HiddenFor(model => model.Filepath)
        @Html.HiddenFor(model => model.ContentType)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, "Campaign", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.DropDownList("Campaigns", "Select Campaign")
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Category, "Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Category", "Select Category")
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                
              </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Filepath, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="FilepathNew" id="FilepathNew" />

                    @Html.ValidationMessageFor(model => model.Filepath)
				<span class="EditDownloadInfo"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>This will replace the existing File.</span>
                </div>
            </div>

            <div class="form-group">
                <div class="EditFormBtns">
                    <input type="submit" value="Save" class="btn btn-primary" />
					@Html.ActionLink("Back to List", "Index", new {}, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
</div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#Campaigns").change(function () {
                $("#Category").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LoadCategoriesbyCampaign","KB")', // we are calling json method

                    dataType: 'json',

                    data: { id: $("#Campaigns").val() },
                    // here we are get value of selected country and passing same value
                    //as inputto json method GetStates.

                    success: function (categoryData) {

                        $("#Category").append('<option value="' + -1 + '">' +
                            "Select Category" + '</option>');

                        $.each(categoryData, function (i, Category) {
                            $("#Category").append('<option value="' + Category.Value + '">' +
                                 Category.Text + '</option>');
                            // here we are adding option for States

                        });
                    },
                error: function (ex) {
                    alert('Failed to retrieve Categories.' + ex);
                }
            });
            return false;
        })
        });
    </script>
}
