﻿@model IEnumerable<IEnumerable<BentleyInterface.Models.KnowledgeBase>>

@{
    ViewBag.Title = "Knowledge Base";
}

<!-- <img src="../Files/1.png" width="1140" style="align-content:center"> -->


<div class="row">
<div class="col-md-12">

    <div class="kbSearchCol">
	<div class="kbSearchCont">
	
    @using (Html.BeginForm("Search", "Kb", FormMethod.Post, new { id = "tfnewsearch" }))
			{  
				<input type="search" id="tfq" class="tftextinput2" name="SearchCriteria" size="210" maxlength="200" placeholder="Search Knowledgebase">
				<button type="submit" class="tfbutton2 TopSearchbtn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button> 
			}
			
	</div>
	</div>

</div>
</div>
	
    <div class="row KbBoxes">

        @foreach (var list in Model)
        {

            if (list.Count() > 0)
            {

                <div class="col-md-4">
				<div class="KbBox">
                    <div class="KbBoxTitle">
					
					<div class="KbBoxTitleIcon">
					                   @if (list.First().Category1.ImagePath != null && (list.First().Category1.ImagePath.EndsWith(".jpeg") || list.First().Category1.ImagePath.EndsWith(".jpg") || list.First().Category1.ImagePath.EndsWith(".png") || list.First().Category1.ImagePath.EndsWith(".bmp") || list.First().Category1.ImagePath.EndsWith(".gif") || list.First().Category1.ImagePath.EndsWith(".tif") || list.First().Category1.ImagePath.EndsWith(".tiff")))
                    {
                        string path = "../../Content/" + @list.First().Category1.ImagePath.ToString().Replace(" ", "%20");


                        <img src=@path>
                    }
					</div>
					<h2 class="KbBoxTitleTxt">@Html.ActionLink(list.First().Category1.Category1.ToString(), "AAIC", new { id = list.First().Category1.ID })</h2>
					
					</div>
                    <div class="KbBoxContent">
						@if(list.First().Category1.Description!=null)
                    {
                        <p>@list.First().Category1.Description</p>
                    }
                  
 
                    @*@foreach (var item in list)
                    {
                        <p> @Html.ActionLink(item.Title + "    " + item.date.ToShortDateString(), "Details", new { ID = item.ID }) </p>
                    }*@
				
				</div>
				<div class="KbBoxReadMore">@Html.ActionLink("Find Out More", "AAIC", new { id = list.First().Category1.ID }) </div>
				</div>
				</div>
            }




        }

    </div>


<div class="KbBoxPageBtns">

    @if (Request.IsAuthenticated && User.IsInRole("KBEditor"))
    {
        <div>
            <a class="btn btn-primary" href="~/KB/Create"> Add Content</a>

            <a class="btn btn-primary" href="~/Category"> Review Categories</a>
        </div>

    }


</div>
