﻿@model IEnumerable<IEnumerable<BentleyInterface.Models.KnowledgeBase>>

@{
    ViewBag.Title = "Knowledge Base";
}

<!-- <img src="../Files/1.png" width="1140" style="align-content:center"> -->


<div class="row">
<div class="col-md-12">
<div class="kbSearchCol">
<div class="kbSearchCont">
    @using (Html.BeginForm("Search", "Kb", FormMethod.Post, new { id = "tfnewsearch" }))
{
    <input type="search" id="tfq" class="tftextinput2" name="SearchCriteria" size="210" maxlength="200" placeholder="Search Knowledgebase">
   <button type="submit" class="tfbutton2 TopSearchbtn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button> 

}
</div>
</div>
</div>
</div>

    <div class="row">
    @if (Model.Count() < 1)
    { 
        <h3>The Search Criteria didn't return any result.</h3>
    }

    @foreach (var list in Model)
    {

        if (list.Count() > 0)
        {
            
            <div class="col-md-12">
			<div class="ContentListCont SearchContentList">
			<div class="ContentListTitle">@Html.ActionLink(list.First().Category1.Category1.ToString(),"AAIC", new {id = list.First().Category1.ID})</div>
               <ul> 
                @foreach (var item in list)
                {
				 <li>
				 <span class="ContentListDate"><span aria-hidden="true" class="glyphicon glyphicon-time"></span> 
				 @Html.Label(item.date.ToShortDateString())</span>
				 <span class="ContentListTxt">@Html.ActionLink(item.Title , "Details", new { ID = item.ID, Choice = -1 })</span>
				 @Html.ActionLink("Read More", "Details", new { ID = item.ID, Choice = -1 }, new { @class = "btn btn-success btn-sm pull-right" })
				 </li> 
			    }
				</ul>
            </div>
			</div>
         }

       


    }
                
</div>
    
    <br /><br /><br />
