﻿@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="DownloadInoCont">
<h3><span class="glyphicon glyphicon-download-alt"></span>Downloads</h3>
<ul class="DownloadList">
<li class="DownloadListHeading">
    To play call recordings please download NR Player from below links:
</li>
<li>
    <span class="glyphicon glyphicon-download-alt"></span>@Html.ActionLink("NR Player for Windows XP and 2003", "DownloadFile", new { windowstype = "XP" })
</li>
<li>
    <span class="glyphicon glyphicon-download-alt"></span>@Html.ActionLink("NR Player for Windows Vista or higher", "DownloadFile", new { windowstype = "Vista" })
</li>
<li class="DownloadListHeading">
    To install NR Player, please unzip the downloaded file. If you are unable to unzip the file, please download the latest version of WinZip utility by accessing the following link:
</li>
<li>
    <span class="glyphicon glyphicon-download-alt"></span><a href="http://www.winzip.com/win/en/prod_down.htm" target="_blank">Download WinZip utility</a>
</li>
<li class="DownloadListHeading">
    If you are having difficulty downloading WinZip utility, please consult their support section:
</li>
<li>
    <span class="glyphicon glyphicon-user"></span><a href="http://www.winzip.com/win/en/land_support.htm" target="_blank">WinZip Support</a>
</li>

</ul>
</div>


