﻿<link rel="stylesheet" type="text/css" href="~/Content/Slider.css" />
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@Scripts.Render("~/bundles/homejs")
<script>
    $(function () {



    });
</script>

<style>
    .link {
        color: #121111;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: #808080;
    }

    a:active {
        text-decoration: none;
        color: #808080;
    }

    .verticalLine {
        border-left: thick solid #ff0000;
    }
</style>
<div class="container-fluid">
	<div class="row">
			<div class="col-md-12">

			</div>
	</div>
    <div class="row">

    <div class="col-md-12">        <div id="test"></div>
    </div>
	</div>
</div>
