﻿@model BentleyInterface.Models.AbbottAgentsDaily

@{
    ViewBag.Title = "Add Daily Agent Data";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@ViewBag.message</h4>
        <hr />
        @Html.ValidationSummary(true)

        

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentID, "AgentID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AgentID", "Select an Agent")
                @Html.ValidationMessageFor(model => model.AgentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Individual_Sales, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Individual_Sales)
                @Html.ValidationMessageFor(model => model.Individual_Sales)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Individual_Doses_Influvac, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Individual_Doses_Influvac)
                @Html.ValidationMessageFor(model => model.Individual_Doses_Influvac)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Individual_Doses_Imuvac, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Individual_Doses_Imuvac)
                @Html.ValidationMessageFor(model => model.Individual_Doses_Imuvac)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BG_Sales, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BG_Sales)
                @Html.ValidationMessageFor(model => model.BG_Sales)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BG_Doses_Influvac, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BG_Doses_Influvac)
                @Html.ValidationMessageFor(model => model.BG_Doses_Influvac)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BG_Doses_Imuvac, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BG_Doses_Imuvac)
                @Html.ValidationMessageFor(model => model.BG_Doses_Imuvac)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.New_Customer_Sales, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.New_Customer_Sales)
                @Html.ValidationMessageFor(model => model.New_Customer_Sales)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.New_Customer_Doses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.New_Customer_Doses)
                @Html.ValidationMessageFor(model => model.New_Customer_Doses)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lost_Customer_Sales, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lost_Customer_Sales)
                @Html.ValidationMessageFor(model => model.Lost_Customer_Sales)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lost_Customer_Doses, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lost_Customer_Doses)
                @Html.ValidationMessageFor(model => model.Lost_Customer_Doses)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Data" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
