﻿@model BentleyInterface.Models.AbbottAgentsDaily

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AbbottAgentsDaily</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Doses_Influvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Doses_Influvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Doses_Imuvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Doses_Imuvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BG_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BG_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BG_Doses_Influvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BG_Doses_Influvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BG_Doses_Imuvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BG_Doses_Imuvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Customer_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Customer_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Customer_Doses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Customer_Doses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost_Customer_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost_Customer_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost_Customer_Doses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost_Customer_Doses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbbottAgent.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbbottAgent.AgentName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
