﻿@model BentleyInterface.Models.AbbottAgentsDaily

@{
    ViewBag.Title = "Details";
}


<div>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Doses_Influvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Doses_Influvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Individual_Doses_Imuvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Individual_Doses_Imuvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BG_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BG_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BG_Doses_Influvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BG_Doses_Influvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BG_Doses_Imuvac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BG_Doses_Imuvac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Customer_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Customer_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New_Customer_Doses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New_Customer_Doses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost_Customer_Sales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost_Customer_Sales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lost_Customer_Doses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lost_Customer_Doses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbbottAgent.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbbottAgent.AgentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
