﻿@model IEnumerable<BentleyInterface.Models.AbbottAgentsDaily>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Add Daily Agent Sales Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbbottAgent.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Individual_Sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Individual_Doses_Influvac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Individual_Doses_Imuvac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BG_Sales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BG_Doses_Influvac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BG_Doses_Imuvac)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbbottAgent.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Individual_Sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Individual_Doses_Influvac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Individual_Doses_Imuvac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BG_Sales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BG_Doses_Influvac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BG_Doses_Imuvac)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Expand", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
