﻿

input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.site__container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3rem 0;
    background-color: #f6f5f5;
}

hr {
    border-color: #808080;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
    width: 100%;
}

.form--login {
    color: #606468;
}

    .form--login label,
    .form--login input[type="text"],
    .form--login input[type="password"],
    .form--login input[type="submit"] {
        border-radius: 0.4rem;
        padding: 1rem;
    }

    .form--login label {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .form--login input[type="text"], .form--login input[type="password"] {
        background-color: #3b4148;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

        .form--login input[type="text"]:focus, .form--login input[type="text"]:hover, .form--login input[type="password"]:focus, .form--login input[type="password"]:hover {
            background-color: #434A52;
            color: #fff;
        }

    .form--login select {
        background-color: #434A52;
        color: #fff;
        border: 0;
    }

    .form--login input[type="submit"] {
        background-color: #DF314D;
        color: #eee;
        font-weight: bold;
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 4px;
        transition: all 0.3s ease-out;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
    }


        .form--login input[type="submit"]:focus, .form--login input[type="submit"]:hover {
            cursor: pointer;
        }

.align {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text--center {
    text-align: center;
}

.grid__container {
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
}



.icon-email {
    background-image: url("../Images/icon-email.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
}



a:hover {
    color: red;
}
