﻿
<h3 class="StatPanelTitle">Agent Information</h3>
<div class="row ">
            <div class="col-sm-3 col-xs-3 col-md-3 CallStatBxBorder">
			<div class="CallStatBx">
                    <div class="row ">

                        <div class="col-sm-4 hidden-xs">
                            <img class="" src="~/Images/icon-wrap.png" style="" />
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="CallStatTitle">On Wrap</div>
                            <div class="CallStatData" id="onWrap">0</div>
                        </div>

                    </div>
            </div>
			</div>
            <div class="col-sm-3 col-xs-3 col-md-3 CallStatBxBorder">
			<div class="CallStatBx">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <img class="" src="~/Images/icon-talk.png" style="" />
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="CallStatTitle">On Talk</div>
                            <div class="CallStatData" id="onTalk">0</div>
                        </div>
                    </div>
            </div>
			</div>


            <div class="col-sm-3 col-xs-3 col-md-3 CallStatBxBorder">
			<div class="CallStatBx">
                    <div class="row ">

                        <div class="col-sm-4 hidden-xs">
                            <img class="" src="~/Images/icon-wait.png" />
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="CallStatTitle">On Wait</div>
                            <div class="CallStatData" id="onWait">0</div>
                        </div>

                    </div>
            </div>
			</div>
			
            <div class="col-sm-3 col-xs-3 col-md-3 CallStatBxBorder">
			<div class="CallStatBx">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            <img class="" src="~/Images/icon-break1.png" />
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <div class="CallStatTitle">On Break</div>
                            <div class="CallStatData" id="onBreak">0</div>
                        </div>
                    </div>
            </div>
			</div>
 
</div>
