﻿<table id="campaigntable" class="Custable ">
    <thead>
        <tr>
            <th>Interval</th>
            <th>Offered</th>
            <th>Handled</th>
            <th>Abandoned-IVR</th>
            <th>Abandoned-Switch</th>
            <th>Abandon Rate %</th>
            <th>AHT</th>
            <th>Service Level Calls %</th>
            <th>Max Wait Time</th>
            <th>ASA</th>
            <th>Occ %</th>
            <th>Login </th>
            <th>Break</th>
            <th>TWW</th>
        </tr>
        <tr id="frow" style='text-align: right; background-color: #fff; color: #000; font-size: 10px; font-weight: bolder'>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
