﻿@model IEnumerable<ClientDashboard.Models.ReportHeader>


@foreach (var item in Model)
{
    int count = 0;
   
    <table id="campaigntable" class="Custable" width="100%">
        <thead>
            <tr>
                @if (@item.A != null)
                {
                    <th>@item.A</th>
                    count++;
                }
                @if (@item.B != null)
                {
                     <th class="no-sort">@item.B</th>
                    count++;
                }
                @if (@item.C != null)
                {
                    <th class="no-sort">@item.C</th>
                    count++;
                }
                @if (@item.D != null)
                {
                    <th class="no-sort">@item.D</th>
                    count++;
                }
                @if (@item.E != null)
                {
                     <th class="no-sort">@item.E</th>
                    count++;

                }
                @if (@item.F != null)
                {
                     <th class="no-sort">@item.F</th>
                    count++;

                }
                @if (@item.G != null)
                {
                     <th class="no-sort">@item.G</th>
                    count++;

                }
                @if (@item.H != null)
                {
                     <th class="no-sort">@item.H</th>
                    count++;

                }
                @if (@item.I != null)
                {
                     <th class="no-sort">@item.I</th>
                    count++;

                }
                @if (@item.J != null)
                {
                     <th class="no-sort">@item.J</th>
                    count++;

                }
                @if (@item.K != null)
                {
                     <th class="no-sort">@item.K</th>
                    count++;

                }
                @if (@item.L != null)
                {
                     <th class="no-sort">@item.L</th>
                    count++;

                }
                @if (@item.M != null)
                {
                     <th class="no-sort">@item.M</th>
                    count++;

                }
                @if (@item.N != null)
                {
                     <th class="no-sort">@item.N</th>
                    count++;

                }
                @if (@item.O != null)
                {
                     <th class="no-sort">@item.O</th>
                    count++;

                }
                @if (@item.P != null)
                {
                     <th class="no-sort">@item.P</th>
                    count++;

                }
                @if (@item.Q != null)
                {
                     <th class="no-sort">@item.Q</th>
                    count++;

                }
                @if (@item.R != null)
                {
                     <th class="no-sort">@item.R</th>
                    count++;

                }
                @if (@item.S != null)
                {
                     <th class="no-sort">@item.S</th>
                    count++;

                }
                @if (@item.T != null)
                {
                     <th class="no-sort">@item.T</th>
                    count++;

                }
                @if (@item.U != null)
                {
                     <th class="no-sort">@item.U</th>
                    count++;

                }
                @if (@item.V != null)
                {
                     <th class="no-sort">@item.V</th>
                    count++;

                }
                @if (@item.W != null)
                {
                    <th class="no-sort">@item.W</th>
                    count++;

                }
                @if (@item.X != null)
                {
                     <th class="no-sort">@item.X</th>
                    count++;

                }
                @if (@item.Y != null)
                {
                     <th class="no-sort">@item.Y</th>
                    count++;

                }
                @if (@item.Z != null)
                {
                     <th class="no-sort">@item.Z</th>
                    count++;

                }
            </tr>
            <tr id="frow" style='text-align: right; background-color: #fff; color: #000; font-size: 10px; font-weight: bolder'>
                <th>TOTAL</th>
                @for (var i = 0; i < count - 1; i++)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody></tbody>
    </table>
}