﻿
<h3 class="StatPanelTitle">Leads Status</h3>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div class="CallStatTitle">Completes</div>
            <div class="CallStatData" id="hi-icon-comp"></div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div class="CallStatTitle">Contacts</div>
            <div id="hi-icon-cont" class="CallStatData"></div>
        </div>
    </div>
     <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div class="CallStatTitle">Connects</div>
            <div id="hi-icon-conn" class="CallStatData"></div>
        </div>
    </div>
     <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div class="CallStatTitle">Sales</div>
            <div id="hi-icon-sale" class="CallStatData"></div>
        </div>
    </div>
     <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

        <div class="CallStatBx">
            <div class="CallStatTitle">Abandoned</div>
            <div class="CallStatData" id="hi-icon-aban"></div>

        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

        <div class="CallStatBx">
            <div class="CallStatTitle">Available</div>
            <div class="CallStatData" id="hi-icon-avail">0</div>
        </div>
    </div>
   
@*    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

        <div class="CallStatBx">
            <div class="CallStatTitle">Occupancy</div>
            <div class="CallStatData" id="hi-icon-occ"></div>

        </div>
    </div>*@


</div>
