﻿@{
    ViewBag.Title = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/campaignjs")

<style>
    #menucampaign {
        background: #c10000;
    }
</style>
<script>
    $(function () {
        document.getElementById("module").innerHTML = "<span class='glyphicon glyphicon-stats'></span><span>Campaign Performance</span> | ";
    });

</script>

<div>
    @Html.Partial("_HeaderPartial")
    <div class="row">
        <div class="StatPanelsCont">
            <div class="col-md-12 col-lg-6">
                <div class="TfnCalls StatPanel">
                    <div id="TFNQpiecontainer"></div>
                    <img id="spinner1" class="img-responsive" src="~/Images/loading.gif" style="height: 280px; margin: 0 auto;" />
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="StatPanel CallsSatePanel">
                    @Html.Partial("_CallsPartial")
                </div>

                <div class="StatPanel AgentSatePanel">
                    @Html.Partial("_AgentStatesPartial")

                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="StatPanelsCont">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="CallIntervalPanel StatPanel">
                    <div id="intervalgraphcontainer" style="width: 100%; height: 310px;"></div>
                    <img id="spinner2" class="img-responsive" src="~/Images/loading.gif" style="margin: 0 auto;" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="AgentStatusPanel StatPanel">
                    @Html.Partial("_AgentStatusPartial")
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="StatPanelsCont">
            <div class="col-md-12">
                <div class="TableContainer StatPanel">
                  

                       @if (Session["CampaignName"] != null)
                    {
                        if (Session["CampaignName"].ToString() == "FBT")
                        {
                        @Html.Partial("_CampaignTableFBT")
                        }
                        else
                        {
                        @Html.Partial("_CampaignTable")
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

