﻿@{
    ViewBag.Title = "Agent";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*@Scripts.Render("~/bundles/Highcharts")*@

@Scripts.Render("~/bundles/Highstock")

<div>

    <div>
        @{Html.RenderAction("GetHeaderContent", "Dashboard");}
        <div class="row">

            <div class="StatPanelsCont">
                <div class="col-sm-12 col-md-12">
                    <div class="StatPanel" style="min-height: 400px">
                        <div id="graphcontainer" style="height: 400px; width: 100%"></div>
                        <img id="spinner" src="~/Images/loader.gif" class="spinner" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="StatPanelsCont">
                <div class="col-sm-12">
                    <div class="TableContainer StatPanel">

                        @{Html.RenderAction("GetReportHeader", "Dashboard");}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/IBAgent.js"></script>

