﻿@{
    ViewBag.Title = "Campaign";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@Scripts.Render("~/bundles/Highcharts")
<script src="~/Scripts/Custom/OBCampaign.js"></script>


<div>
    @{Html.RenderAction("GetHeaderContent", "Dashboard");}
    <div class="row">

        <div class="StatPanelsCont">
            <div class="col-md-12 col-lg-6">
                <div class="TfnCalls StatPanel" style="">
                    <div id="DispContainer"></div>
                    <img id="spinner1" src="~/Images/loader.gif" class="spinner" />
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="StatPanel CallsSatePanel">
                    @Html.Partial("_OBCallsPartial")
                </div>

                <div class="StatPanel AgentSatePanel">
                    @Html.Partial("_AgentCountPartial")

                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="StatPanelsCont">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="CallIntervalPanel StatPanel">
                    <div id="intervalgraphcontainer" style="width: 100%; height: 310px;"></div>
                    <img id="spinner2" src="~/Images/loader.gif" class="spinner" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="AgentStatusPanel StatPanel">
                    @Html.Partial("_AgentStatusPartial")
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="StatPanelsCont">
            <div class="col-md-12">
                <div class="TableContainer StatPanel">

                    @{Html.RenderAction("GetReportHeader", "Dashboard");}

                </div>

            </div>
        </div>
    </div>
</div>
