﻿<script>
    $(function () {
        $("#status").text("@Session["CampaignName"] is not dialling at the moment.");
    });
</script>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "loginpartial", @class = "" }))
    {
    @Html.AntiForgeryToken()

	    <div class="navbar navbar-inverse TopNav">
        <div class="container-fluid">
		
		<a class="navbar-brand Logo" href="@Url.Action("Index", "Home")">
		<img src="@Url.Content("~/Images/cd-logo.png")"/>
		</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
				<p class="navbar-text navbar-right TopbarUserTxt">
	

						@*    @if (Session["DialingStatus"] != "" && Session["DialingStatus"] != null)
						{  
						*@
							<span id="DialingStatus">
							<span class="glyphicon glyphicon-ban-circle"></span>
							<span id="status" Class="StatusTxt"></span>
							</span>
						@*
						}
						*@
					
	</p>
	
            <div class="navbar-collapse collapse">
	

    <ul class="nav navbar-nav navbar-right" style="padding: 0; margin-top: 0px">
        <li>
            <a href="/Home/Index" title="Home" data-toggle="tooltip" data-placement="bottom">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="visible-xs-inline-block TopMenuTxt">Home</span></a>
        </li>
        @if (Session["Agent"] == "true")
                { 
                    <li class="visible-xs"><a id="menuagent" href='/Dashboard/Agent' data-toggle="tooltip" data-placement="bottom">
                        <span class='glyphicon glyphicon-user'></span><span class="visible-xs-inline-block TopMenuTxt">Agent Performance</span></a></li>
                }
                @if (Session["Campaign"] == "true")
                { 
                    <li class="visible-xs">
                        <a id="menucampaign" href='/Dashboard/Campaign'><span class='glyphicon glyphicon-stats'></span>
                        <span class="visible-xs-inline-block TopMenuTxt">Campaign Performance</span></a></li>
                }
                @if (Session["Recordings"] == "true")
                { 
                    <li class="visible-xs"><a id="menurecord" href='/Dashboard/Recordings'>
                    <span class="glyphicon glyphicon-film"></span>
                    <span class="glyphicon glyphicon-play" style="position: absolute; left: 24px; font-size: 10px; top: 23px;"></span>
                    <span class="visible-xs-inline-block TopMenuTxt">Call Recordings</span></a></li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    <li class="visible-xs"><a href="/Account/Register"><span class="visible-xs-inline-block TopMenuTxt">Create Account</span></a></li>
  

                }

        <li>
            <a href="/Home/Glossary" title="Glossary" data-toggle="tooltip" data-placement="bottom">
                <span aria-hidden="true" class="glyphicon glyphicon-book"></span><span class="visible-xs-inline-block TopMenuTxt">Glossary</span></a>
        </li>

        <li>
            <a href="/Home/Download" title="Download" data-toggle="tooltip" data-placement="bottom">
			<span aria-hidden="true" class="glyphicon glyphicon-save"></span><span class="visible-xs-inline-block TopMenuTxt">Download</span></a>
        </li>
        <li>
            <a href="/Account/Manage" title="Settings" data-toggle="tooltip" data-placement="bottom">
                <span class="glyphicon glyphicon-cog"></span><span class="visible-xs-inline-block TopMenuTxt">Settings</span></a>
        </li>
        <li>
            <a href="javascript:document.getElementById('loginpartial').submit()" data-toggle="tooltip" data-placement="bottom" title="Logout">
            
			<span class="NavBarUserName">
			@*@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @User.Identity.Name
            </span>
			
			<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			
			</a>
        </li>
    </ul>


	
	
	            </div>
        </div>
    </div>
    }

}



