﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Dashboard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    @Scripts.Render("~/bundles/menu")
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/DataTables")
     <script>
        $(window).load(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</head>
<body class="PageBody">

@Html.Partial("_LoginPartial")

<div>@RenderBody()</div>

<footer class="LoginPageCopright navbar-fixed-bottom">© IBEX | Client Dashboard, All rights reserved.</footer>

    @RenderSection("scripts", required: false)
</body>
</html>
