﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>


</hgroup>
<p>Please notify tech team on <a href="mailto:IBEXTech.ClientDashboard@ibexglobal.com" target="_top">IBEXTech.ClientDashboard@ibexglobal.com</a> </p>
@{
    var sentFrom = "noreply@ibexglobal.com";

    System.Net.Mail.SmtpClient client =
        new System.Net.Mail.SmtpClient("192.168.120.117");

    client.Port = 25;
    client.DeliveryMethod = System.Net.Mail.SmtpDeliveryMethod.Network;
    client.UseDefaultCredentials = false;

    var mail =new System.Net.Mail.MailMessage(sentFrom, "IBEXTech.ClientDashboard@ibexglobal.com");

    mail.Subject = "Exception in Client Dashboard";

    mail.IsBodyHtml = true;


    mail.Body = "<b>Controller Name: </b>" + Model.ControllerName + "<br/>" + "<br/>" + "<b>Action Name: </b>" + Model.ActionName + "<br/>" + "<br/>" + "<b>Exception Details: </b>" + Model.Exception;

    client.Send(mail); 
    
}