﻿@model ClientDashboard.Models.Module

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="adminContainer">
    @Html.MvcSiteMap().SiteMapPath()
<h2>Module - Create
    <div class="backbtn pull-right">
          <span class="glyphicon glyphicon-chevron-left"></span>
              @Html.ActionLink("Back to List", "Index")
    </div>
</h2>
 <div class="panel panel-default">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

     <form class="form-inline">

        <div class="form-group">
            <div class="editor-label col-md-2">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field col-md-4">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
             <div class="editor-label col-md-2">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field col-md-4">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        
        <div class="form-group">
            <div class="editor-label col-md-2">
                @Html.LabelFor(model => model.HTML)
            </div>
            <div class="editor-field col-md-4">
                @Html.EditorFor(model => model.HTML)
                @Html.ValidationMessageFor(model => model.HTML)
            </div>
        </div>

         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
}

</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
