﻿@model IEnumerable<ClientDashboard.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script>
    $(function () {
        var table = $('#table').dataTable({

            scrollX: true,
            scrollCollapse: true,
            paging: true,
            fixedColumns: true,
        });
    });
</script>
<div class="adminContainer">
    @Html.MvcSiteMap().SiteMapPath()
<h2>Clients
    <span class="createPro ">
        @Html.ActionLink(" ", "Create", new {}, new { @class = " glyphicon glyphicon-plus" })
    </span>
</h2>


    <div class="panel panel-default">

<table id="table" class="Custable Rec">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                 @*   <img src="@item.ImagePath" style=" max-width:150px;
    max-height:80px;
    width: auto;
    height: auto;"/>
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td class="tdLinks">
                    
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClientID }, new { @class = " btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.ClientID }, new { @class = " btn btn-default" }) @*|
                        @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })*@
                    
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>