﻿@model BentleyInterface.Models.Category

@{
    ViewBag.Title = "Add Category";
}



@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="ContentEditCont">
	<div class="ContentListTitle"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Category</div>	
    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Campaign,"Campaign", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CampaignID", "Please Select Campaign")
                @Html.ValidationMessageFor(model => model.CampaignID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category1)
                @Html.ValidationMessageFor(model => model.Category1)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                    <input type="file" name="file" id="file" />
                
            </div>
        </div>
        <div class="form-group">
            <div class="EditFormBtns">	    
                <input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Back to List", "Index", new {}, new { @class = "btn btn-primary" })
					
            </div>
        </div>
    </div>
	</div>
}
