﻿@model BentleyInterface.Models.Category

@{
    ViewBag.Title = "Details";
}




<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Campaign1)
        </dd>
    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("TL"))
    {
         @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
