﻿@model BentleyInterface.Models.Category

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm("Edit", "Category",   FormMethod.Post,   new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
	
    <div class="ContentEditCont">
	<div class="ContentListTitle"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>Edit Category</div>	
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Campaign, "Campaign", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CampaignID", String.Empty)
                @Html.ValidationMessageFor(model => model.CampaignID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category1)
                @Html.ValidationMessageFor(model => model.Category1)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
            
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file" />

                <span class="EditDownloadInfo"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>This will replace the existing File.</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="EditFormBtns">
                <input type="submit" class="btn btn-primary" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
	</div>
}