﻿@model IEnumerable<BentleyInterface.Models.Category>

@{
    ViewBag.Title = "Categories";
}


<div class="TablePanel">
<div class="TableEditPanel">
    @if (Request.IsAuthenticated && User.IsInRole("KBEditor"))
    {
       @Html.ActionLink("Add New Category", "Create", new {}, new { @class = "btn btn-primary" })
    }
</div>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CampaignID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.description)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campaign.Campaign1)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.description)
        </td>*@
        <td>
        @if (Request.IsAuthenticated && User.IsInRole("KBEditor"))
        {
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-success btn-xs" })   
        }
        </td>
    </tr>
}

</table>
</div>
