﻿
<style>
    .myCheckbox input {
        display: none;
    }

        .myCheckbox input + span {
            display: inline-block;
            width: 19px;
            height: 19px;
            /*margin: -1px 4px 0 0;*/
            vertical-align: middle;
            background: url('../Images/check_radio_sheet.png') left top no-repeat;
            cursor: pointer;
        }

        .myCheckbox input:checked + span {
            background: url('../Images/check_radio_sheet.png') -19px top no-repeat;
        }
</style>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: "hover",
            html: true
        });
        console.log(window.location.href.split("/"))
        var currenturl = window.location.href.split("/");
        var module = currenturl[currenturl.length - 2]
        var campaign = currenturl[currenturl.length - 1].substr(0, 3)
        $("#cbCampaigns").append(new Option(campaign, campaign));
        $("#cbCampaigns").val(campaign)
        // var mod="Campaign"
        $.ajax({
            url: "/Dashboard/GetHeaderContent/" + module,
            type: "GET",
            traditional: true,


            success: function (data) {
                data = data.result;
                console.log(data)
                $("#moduleName").html(data[0]["HTML"] + '<span >' + data[0]["ModuleDescription"] + '</span> ')

                $("#cbCampaigns").empty()
                for (var i = 0; i < data.length; i++) {

                    var val = data[i]["CampaignID"];
                    var des = data[i]["Client"] + " - " + data[i]["CampaignID"];

                    $("#cbCampaigns").append(new Option(des, val));
                    if (val == campaign) {
                        //$("#campaignType").html(data[i]["CampaignType"]);
                        //$("#switchType").html(data[i]["SwitchType"]);
                        var popOverHTML = "<div class='list-info'><span style='font-weight:bold'> Campaign Type</span>: <span id='campaignType' >" + data[i]["CampaignType"] + "</span></div>"
                        popOverHTML += "<div class='list-info'><span style='font-weight:bold'> Switch Type </span>: <span id='switchType'>" + data[i]["SwitchType"] + "</span> </div>"
                        popOverHTML += "<div class='list-info'><span style='font-weight:bold'> Logged Agents </span>: <span id='head_loggedAgents'></span> </div>"
                        popOverHTML += "<div class='list-info'><span style='font-weight:bold'> Dialing Status </span>: <span id='head_dialingStatus'></span> </div>"

                        $("#info").attr('data-content', popOverHTML);
                    }

                }
                $("#cbCampaigns").val(campaign)
                $("#cbCampaigns").change(function () {
                    var selection = $("#cbCampaigns").val();
                    var selectedcampaign = selection.substring(selection.indexOf("-") + 1)

                    var currenturl = window.location.href;
                    var newurl = currenturl.substring(0, currenturl.lastIndexOf('/')) + "/" + selectedcampaign.trim();

                    window.location = newurl;
                });
            }
        })


    });


</script>
<div class="row">
    <div id="dialog" title="Disconnected" style="display: none">Disconnected from server.</div>
    <div class="PageTopFilter clearfix">
        <div class="col-md-6 col-sm-12 col-xs-12 pull-left PageTopFilterTitle">
            <div class="CampPerTitle">
                <span id="moduleName"></span>|

                <select id="cbCampaigns"></select>
                <button id="info" type="button" class=" btn-border" data-toggle="popover"
                        data-content="">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 pull-right PageTopFilterDate">

            <span class="PageTopFilterDate">
                <label id="lastupdateon" style="font-weight: normal;">Last updated: <span id="lastUpdateTime" style="padding-top: 5px; font-weight: bold"></span></label>
            </span>


        </div>
    </div>

</div>
<script>
    $(function () {

    })
</script>
