﻿@model IEnumerable<ClientDashboard.Models.MenuItems>

@foreach (var item in Model)
{
    <li class="menuitem">
        @* <a id='menu' href='/Dashboard/@item.Module/@item.Campaign'></a>*@
        <a id="@item.Module" href="/Dashboard/@item.Module/@item.CampaignID">@Html.Raw(HttpUtility.HtmlDecode(item.HTML))<span class="TopMenuTxt">@item.Description</span></a>
    </li>

       
}
@if (Request.IsAuthenticated && User.IsInRole("Administrator") && HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() != "Dashboard")
{
    <li class="menuitem"><a href="/UserProfile"><span class='glyphicon glyphicon-user'></span><span class="TopMenuTxt">User Profile</span></a></li>
    <li class="menuitem"><a href="/Client"><span class='glyphicon glyphicon-globe'></span><span class="TopMenuTxt">Clients</span></a></li>
    <li class="menuitem"><a href="/Campaign"><span class='glyphicon glyphicon-list'></span><span class="TopMenuTxt">Campaigns</span></a></li>
    <li class="menuitem"><a href="/Module"><span class='glyphicon glyphicon-tasks'></span><span class="TopMenuTxt">Modules</span></a></li>
}



