﻿
<h3 class="StatPanelTitle">Leads Status</h3>
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div id="grid1" class="CallStatTitle">Completes</div>
            <div class="CallStatData" id="hi-icon-1"></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div id="grid2" class="CallStatTitle">Contacts</div>
            <div id="hi-icon-2" class="CallStatData"></div>
        </div>
    </div>
     <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div id="grid3" class="CallStatTitle">Connects</div>
            <div id="hi-icon-3" class="CallStatData"></div>
        </div>
    </div>
     <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div id="grid4" class="CallStatTitle">Sales</div>
            <div id="hi-icon-4" class="CallStatData"></div>
        </div>
    </div>
   
</div>
<script src="~/Scripts/Custom/VCampaign.js"></script>
