﻿@{
    ViewBag.Title = "Avaya";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="~/Scripts/select2.min.js"></script>
<link type="text/css" href="~/Content/select2.min.css" rel="stylesheet" />

@Scripts.Render("~/bundles/Highstock")
@*@Scripts.Render("~/bundles/Highcharts")*@
<style>
    .chart {
        height: 220px;
        margin: 0 auto;
    }

    .StatPanelsCont .panel-default {
        margin-bottom: 30px;
    }
</style>
@Html.Partial("_HeaderPartial")
@*    @{Html.RenderAction("GetHeaderContent", "Dashboard");}*@
<div class="StatPanelsCont">

    <div class="panel panel-default">
        <!--TABS START-->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#queue-agent-report" aria-controls="queue-agent-report" role="tab" data-toggle="tab">Queue/Agent</a></li>
            <li role="presentation"><a href="#split-skill-report" aria-controls="split-skill-report" role="tab" data-toggle="tab">Split/Skill</a></li>
            <li role="presentation"><a href="#agent-report" aria-controls="agent-report" role="tab" data-toggle="tab">Agent</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="min-height: 340px;">

            <!--SPLIT/SKILL REPORT-->
            <div role="tabpanel" class="tab-pane fade " id="split-skill-report">
                <div class="section-grey">
                    <div class="text-label">Skills:</div>
                    <div class="col-md-11">
                        <select id="split-skill-skills" class="js-example-basic-multiple js-states form-control" multiple="multiple" style="width:100%"> </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12" id="split-skill-call" style=" height: 320px;"></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="section-grey">
                            <div class="text-label">State:</div>
                            <div class="col-md-11">
                                <select id="split-skill-state" class="js-example-basic-multiple js-states form-control">
                                    <option value="Avail">Agents Avail</option>
                                    <option value="Ring">Agents Ringing</option>
                                    <option value="ACW">Agents in ACW</option>
                                    <option value="ACD">Agents on ACD Calls</option>
                                    <option value="AUX">Agents in AUX</option>
                                    <option value="Other">Agents in Other</option>
                                    <option value="Staffed">Agents Staffed</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" id="split-skill-agents" style=" height: 320px;"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-grey">
                            <div class="text-label">Metric :</div>
                            <div class="col-md-10">
                                <select id="split-skill-metric" class="js-example-basic-multiple js-states form-control" multiple="multiple" style="width:100%">
                                    <option value="AvgAbanTime">Avg Aban Time </option>
                                    <option value="AvgACDTime">Avg ACD Time</option>
                                    <option value="AvgSpeedAns">
                                       Avg Speed Answer
                                    </option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12" id="split-skill-time" style=" height: 320px;"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-12">
                <table id="split-skill-table" class="Custable" width="100%">
                    <thead>
                        <tr>
                            <th>Split/Skill</th>
                            <th> Calls Waiting</th>
                            <th> Oldest Call Waiting</th>
                            <th> Avg. Speed Ans</th>
                            <th> ACD Calls</th>
                            <th> Avg ACD Time</th>
                            <th> Aban Calls</th>
                            <th> Avg Aban Time</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                </div>
            </div>
            <!--SPLIT/SKILL REPORT END-->
            <!--QUEUE/AGENT REPORT-->
            <div role="tabpanel" class="tab-pane active" id="queue-agent-report">
                <div class="section-grey">
                    <div class="text-label">Skill:</div>
                    <div class="col-md-11">
                        <select id="queue-agent-skills" class="js-example-basic-multiple js-states form-control" style="width:200px"> </select>
                    </div>
                </div>
                <div class="col-md-6 add-padding">
                    <div class="col-md-12 col-lg-12" id="queue-agent-state" style=" height: 320px;"></div>
                </div>
                <div class="col-md-6 add-padding">
                    <div class="col-md-12 col-lg-12">
                        <div class="StatPanel CallsSatePanel">

                            <h3 class="StatPanelTitle">Agents Information</h3>
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
                                    <div class="CallStatBx">
                                        <div class="CallStatTitle">Avail</div>
                                        <div class="CallStatData" id="queue-agent-avail">0</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
                                    <div class="CallStatBx">
                                        <div class="CallStatTitle">Ringing</div>
                                        <div id="queue-agent-ring" class="CallStatData">0</div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

                                    <div class="CallStatBx">
                                        <div class="CallStatTitle">ACW</div>
                                        <div class="CallStatData" id="queue-agent-acw">0</div>

                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

                                    <div class="CallStatBx">
                                        <div class="CallStatTitle">ACD Call</div>
                                        <div class="CallStatData" id="queue-agent-acd">0</div>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

                                    <div class="CallStatBx">
                                        <div class="CallStatTitle">AUX</div>
                                        <div class="CallStatData" id="queue-agent-aux">0</div>

                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

                                    <div class="CallStatBx">
                                        <div class="CallStatTitle">Other</div>
                                        <div class="CallStatData" id="queue-agent-other">0</div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="StatPanel CallsSatePanel CallsSatePanel-secondary">
                            <div class="col-md-6">
                                <ul class="list-group no-border">
                                    <li class="list-group-item">Oldest Call Waiting: <strong id="queue-agent-oldestcallwaiting"></strong></li>
                                    <li class="list-group-item">Direct Agent  Calls Waiting: <strong id="queue-agent-directagentcallwaiting"></strong></li>
                                    <li class="list-group-item">% Within Service Level: <strong id="queue-agent-servicelevelpercent"></strong></li>
                                    <li class="list-group-item bottom">Service Level: <strong id="queue-agent-servicelevel"></strong></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group no-border">
                                    <li class="list-group-item">Calls Waiting: <strong id="queue-agent-callswaiting"></strong></li>
                                    <li class="list-group-item">ACD Calls: <strong id="queue-agent-acdcalls"></strong></li>
                                    <li class="list-group-item">Aban Calls: <strong id="queue-agent-abncalls"></strong></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 add-padding">
                <table id="queue-agent-table" class="Custable" width="100%">
                    <thead>
                        <tr>
                            <th>Agent Name</th>
                            <th>Login ID</th>
                            <th>Extension</th>
                            <th>AUX Reason</th>
                            <th>State</th>
                            <th>Direction</th>
                            <th>Split/Skill</th>
                            <th>Time</th>
                            <th>VDN Name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                </div>
            </div>
            <!--QUEUE/AGENT REPORT END-->
            <!--AGENT REPORT-->
            <div role="tabpanel" class="tab-pane fade" id="agent-report">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-grey">
                            <div class="text-label">Agent:</div>
                            <div class="col-md-5">
                                <select id="agent-agents" class="js-example-basic-multiple js-states form-control" style="width:100%"> </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 add-padding">
                        <ul class="list-group no-border">
                            <li class="list-group-item"> Login ID: <strong id="agent-agentid"></strong></li>
                            <li class="list-group-item">Extension: <strong id="agent-extension"></strong></li>
                            <li class="list-group-item">State: <strong id="agent-state"></strong></li>
                            <li class="list-group-item">Time: <strong id="agent-statetime"></strong></li>
                            <li class="list-group-item">Active Split/Skill: <strong id="agent-skill"></strong></li>
                            <li class="list-group-item">AUX Reason: <strong id="agent-auxreason"></strong></li>
                            <li class="list-group-item">ACD Calls:<strong id="agent-acdcalls"></strong></li>
                            <li class="list-group-item">Staffed Time:<strong id="agent-stafftime"></strong></li>
                        </ul>

                    </div>
                    <div class="col-md-6 add-padding">
                        <div class="col-md-12 col-lg-12" id="agent-timespent" style=" height: 320px;"></div>
                    </div>
                </div>
            </div>
            <!--AGENT REPORT END-->
            <!--TABS END-->
        </div>

    </div>


    <script src="~/Scripts/Custom/Charts.js"></script>
    <script src="~/Scripts/Custom/Avaya.js"></script>
    <script>
        $('#tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
