﻿@{
    ViewBag.Title = "Call Recordings";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script src="~/Scripts/Custom/Recordings.js"></script>

@model List<ClientDashboard.Models.CallRecordingReport_Result>


@Html.Partial("_HeaderPartial")

@* @{ Html.RenderAction("GetHeaderContent", "Dashboard"); }*@
<div class="row">
    <div class="StatPanelsCont">
        <div class="col-sm-12 col-md-12">

            <div class="panel-group" id="accordion" style="padding-top: 0">
                <div class="panel panel-default">
                    <div class="panel-heading clear-fix" role="tab" id="headingOne">
                        <h4 class="panel-title pull-left">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-minus"></span>&nbsp;&nbsp;Search Criteria
                            </a>
                        </h4>
                        <a href="/Home/Download" class="btn pull-right" title="Download" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-save"></span>Download NR Player</a>

                    </div>

                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                        <div class="panel-body" id="loading">


                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group col-lg-8">
                                        <span class="input-group-addon" style="width: 150px">Start Date</span>
                                        <input type="text" class="form-control" id="startdate" placeholder="Start Date" name="startdate" data-toggle="tooltip" title="Start date of the duration for recording is being search" style="cursor: pointer" readonly="true">
                                        <span class="glyphicon glyphicon-calendar form-control-feedback " aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group col-lg-8">
                                        <span class="input-group-addon" style="width: 150px">End Date</span>
                                        <input type="text" class="form-control" id="enddate" placeholder="End Date" name="enddate" data-toggle="tooltip" title="End date of the duration for recording is being search" style="cursor: pointer" readonly="true">
                                        <span class="glyphicon glyphicon-calendar form-control-feedback " aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group col-lg-8">
                                        <div class="input-group-addon" style="width: 150px">Unique ID</div>
                                        <input type="text" class="form-control" id="uniqueid" onkeypress="return AlphaNumeric(event)" placeholder="Unique ID" name="uniqueid" data-toggle="tooltip" title="Unique identity to search recording">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group col-lg-8">

                                        <div class="input-group-addon" style="width: 150px">Telephone Number</div>
                                        <input type="text" class="form-control" id="tel" onkeypress="return isNumberKey(event)" placeholder="Telephone Number" name="tel" data-toggle="tooltip" title="Telephone number should not include country code.">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group col-lg-8">
                                        <div class="input-group-addon" style="width: 150px">Agent ID</div>
                                        <input type="text" class="form-control" id="agentid" onkeypress="return AlphaNumeric(event)" placeholder="Agent ID" name="agentid" data-toggle="tooltip" title="Representor ID to search recording">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group has-feedback">
                                    <div class="input-group col-lg-8">
                                        <div class="input-group-addon" style="width: 150px">Disposition</div>
                                        <select multiple="multiple" name="disposition" class="disposition" id="disposition" style="width: 300px; border-color: #ccc"></select>
                                    </div>
                                </div>
                            </div>


                            <div class="table col-lg-12">
                                <table id="filter">
                                    <tr id="Add1">
                                        <td>
                                            <div class="form-group has-feedback">
                                                <div class="input-group col-lg-12">
                                                    <div class="input-group-addon" style="width: 150px">Filter</div>
                                                    <select placeholder="Select Here" name="filter1" id="filter1" class="filter" style="width: 265px; border-color: #ccc">
                                                        <option></option>
                                                    </select>
                                                    <div class="col-lg-2">
                                                        <input placeholder="Enter Value..." type="text" class="form-control custom" id="filterval1" name="filterval1">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <button class="btn delete-button" id="btnDel1" onclick="Delete1()"><span class="glyphicon glyphicon-remove"></span></button>
                                                    <!--<input type="button"  value="Delete">-->
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr id="Add2">
                                        <td colspan="2">
                                            <div class="form-group has-feedback">
                                                <div class="input-group col-lg-12">
                                                    <div class="input-group-addon" style="width: 150px">Filter</div>
                                                    <select placeholder="Select Here" name="filter2" id="filter2" class="filter" style="width: 265px; border-color: #ccc">
                                                        <option></option>
                                                    </select>
                                                     <div class="col-lg-2">
                                                        <input placeholder="Enter Value..." type="text" id="filterval2" name="filterval2" class="form-control custom">
                                                     </div>
                                                     <div class="col-lg-4">
                                                        <button class="btn delete-button" id="btnDel2" onclick="Delete2()"><span class="glyphicon glyphicon-remove"></span></button>
                                                     </div>
                                                    <!--<input type="button" value="Delete" >-->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="Add3">
                                        <td colspan="2">
                                            <div class="form-group has-feedback">
                                                <div class="input-group col-lg-8">
                                                    <div class="input-group-addon" style="width: 150px">Filter</div>
                                                    <select placeholder="Select Here" name="filter3" id="filter3" class="filter" style="width: 265px; border-color: #ccc">
                                                        <option></option>
                                                    </select>
                                                    <div class="col-lg-2">
                                                        <input placeholder="Enter Value..." type="text" id="filterval3" name="filterval3" class="form-control custom">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <button class="btn delete-button" id="btnDel3" onclick="Delete3()"><span class="glyphicon glyphicon-remove"></span></button>
                                                    </div>
                                                    <!--<input type="button" value="Delete" >-->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="Add4">
                                        <td colspan="2">
                                            <div class="form-group has-feedback">
                                                <div class="input-group col-lg-8">
                                                    <div class="input-group-addon" style="width: 150px">Filter</div>
                                                    <select placeholder="Select Here" name="filter4" id="filter4" class="filter" style="width: 265px; border-color: #ccc">
                                                        <option></option>
                                                    </select>
                                                    <!--<input type="button" value="Delete" >-->
                                                     <div class="col-lg-2">
                                                        <input placeholder="Enter Value..." type="text" id="filterval4" name="filterval4" class="form-control custom">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <button class="btn delete-button" id="btnDel4" onclick="Delete4()"><span class="glyphicon glyphicon-remove"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="Add5">
                                        <td colspan="2">
                                            <div class="form-group has-feedback">
                                                <div class="input-group col-lg-8">
                                                    <span class="input-group-addon" >Filter</span>
                                                    <select placeholder="Select Here" name="filter5" id="filter5" class="filter" style="width: 265px; border-color: #ccc">
                                                        <option></option>
                                                    </select>
                                                    <input placeholder="Enter Value..." type="text" id="filterval5" name="filterval5">
                                                    <input type="button" value="Delete" id="btnDel5" onclick="Delete5()">
                                                </div>
                                            </div>
                                            <div id="addalert" class="col-lg-3" style="padding-top: 5px; margin-left: 10px">
                                                <div class="alert alert-danger alert-danger-custom" >
                                                    <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>You cannot add more filters
                                                </div>
                                            </div>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="addalertcheck" class="col-lg-3" style="padding-top: 5px;">
                                                <div class="alert alert-danger" style="margin-bottom: 10px;" >
                                                    <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Input the filter first
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>


                            <div class="col-lg-12">
                                <button class="btn" id="addFilter" style="display : none" onclick="AddFilters();" style="width: 100px"><span class="glyphicon glyphicon-plus" style="padding-right: 5px"></span>Add Filters</button>
                                <button class="btn" onclick="Continue(event);" style="width: 100px"><span class="glyphicon glyphicon-search" style="padding-right: 5px"></span>Search</button>
                            </div>

                            <div id="inputalert" class="col-lg-3" style="padding-top: 5px; >
                                <div class="alert alert-danger alert-danger-custom" style="padding: 0px; text-align: justify">
                                    <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Please input any one search criteria
                                </div>
                            </div>
                            <div id="dateinputalert" class="col-lg-3" style="padding-top: 5px; >
                                <div class="alert alert-danger alert-danger-custom" style="padding: 0px; text-align: justify">
                                    <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Please input start and end date
                                </div>
                            </div>
                            <div id="agentdisposealert" class="col-lg-3" style="padding-top: 5px; >
                                <div class="alert alert-danger alert-danger-custom" style="padding: 0px; text-align: justify">
                                    <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Please select date with Agent ID or Disposition
                                </div>
                            </div>

                            <div id="filteralert" class="col-lg-3" style="padding-top: 5px; >
                                <div class="alert alert-danger alert-danger-custom" style="padding: 0px; text-align: justify">
                                    <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Please select date with filter
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Call Recordings
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="TableContainer">
                            <table id="Callrecordings" class="Custable Rec display responsive nowrap">
                                <thead>
                                    <tr>
                                        <th class="col-md-2">
                                            Unique ID
                                        </th>
                                        <th>
                                            Call ID
                                        </th>
                                        <th>
                                            Agent
                                        </th>
                                        <th>
                                            Call Date
                                        </th>
                                        @* <th>Campaign ID
                                            </th>*@
                                        <th>Disposition</th>
                                        <th>
                                            Duration
                                        </th>
                                        <th>
                                            Number

                                        </th>
                                        <th id="filhead1">Filter1</th>
                                        <th id="filhead2">Filter2</th>
                                        <th id="filhead3">Filter3</th>
                                        <th id="filhead4">Filter4</th>
                                        <th id="filhead5">Filter5</th>

                                        <th>
                                            Web Player

                                        </th>
                                        <th>
                                            Desktop Player
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="NRWebPanel" class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Web Player
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">


                        <iframe name="NRWebFrame" style="width: 100%; height: 700px"></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

