﻿@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="LoginPageBody">
	
<div class="LoginPageContent">

				<div class="LoginPageLogo">
				<img class="img-responsive" src="/Content/KbLoginLogo.png">
				</div>

				<div id="loginForm" class="LoginBox">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
				<div class="LoginPanelHeading InvalidUserAlert"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span><span>You are not Authorized to view this. Please Authorize yourself.</Span></div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
				<div class="LoginFormFields">
				<div class="LoginFormField">
				<div class="form-group">
                    
					<label class="icon-username"></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "ErrorField" })

                </div>
				</div>
				<div class="LoginFormField">
                <div class="form-group">
					
					<label class="icon-password"></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "ErrorField" })

                </div>
				</div>
				</div>
				
				<input class="LoginBtn" type="submit" value="Log in" class="btn btn-default" />
				
				<div class="LoginCheck">
                       
                       @Html.CheckBoxFor(m => m.RememberMe)
                       @Html.LabelFor(m => m.RememberMe, "Register",new { @class = "login_checkbox" })
                       |@Html.ActionLink("Register a new user?", "Register",new { @class = "LoginForgotPassTxt" })
                </div>




            }
       </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}