﻿@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

	<div class="LoginPageBody">
	
<div class="LoginPageContent">
				<div class="LoginPageLogo">
				<img class="img-responsive" src="/Content/KbLoginLogo.png">
				</div>
				
				<div id="loginForm" class="LoginBox">			
				<div class="LoginPanelHeading">Register an Account</div>
				
				<div class="LoginValidationErrorList">
					@Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
				
				<div class="LoginFormFields">
				
				<div class="LoginFormField">
				<div class="form-group">
                    
				<label class="icon-username"></label>
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				</div>
				</div>
				
				<div class="LoginFormField">
				<div class="form-group">
				<label class="icon-password"></label>
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                </div>
				</div>
				
				<div class="LoginFormField">
                <div class="form-group">
					
				<label class="icon-password"></label>
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
				</div>
				
				</div>
				
				<input class="LoginBtn" type="submit" class="btn btn-default" value="Register" />
				<div class="LoginCheck"><a href="/Account/Login" title="Login Page"><span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span>Back to login</a></div>
							
	</div>
</div>
	</div>
	
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
