﻿html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.LoginPageCopright {
    border-top: 1px solid #d2d2d2;
    color: #303641;
    font-size: 12px;
    line-height: 25px;
    background: #f1f1f1;
    text-align: center;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container1 {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.container1.open-sidebar {
    left: 240px;
}

.swipe-area {
    position: absolute;
    width: 50px;
    left: -15px;
    top: 0;
    height: 100%;
    background: #c6c5c5;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.container-fluid.StatesPanel {
    padding-left: 5px;
    padding-right: 5px;
}

.panel-group .panel {
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 0;
}

.panel-default > .panel-heading {
    background-color: white;
    color: #333;
}

.panel-group .panel-heading {
    border-bottom: 1px solid #ddd;
}

label {
    font-weight: normal;
}

button.dt-button,
div.dt-button,
a.dt-button,
button.btn,
a.btn,
input[type=submit].btn {
    background-color: #337ab7;
    background-image: none;
    border: 1px solid #2e6da4;
    /*border-radius: 2px;*/
    color: #fff !important;
    font-size: 13px;
    /*height: 29px;*/
    /*line-height: 29px;*/
    margin: 0 0.333em 0 0;
    /*padding: 0 10px;*/
}

button.dt-button.disabled,
div.dt-button.disabled,
a.dt-button.disabled {
    background-color: #c6c5c5;
    background-image: none;
    border: 1px solid #c1c0c0;
    border-radius: 2px;
    color: #fff !important;
    font-size: 13px;
    height: 29px;
    line-height: 29px;
    margin: 0 0.333em 0 0;
    padding: 0 10px;
}

.dt-button .glyphicon,
.btn .glyphicon {
    color: white;
    margin-right: 5px;
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled),
.btn.focus,
.btn:focus,
.btn:hover {
    background-color: #5c5c5c;
    background-image: none;
    border: 1px solid #666;
    color: white !important;
}

.alert {
    padding: 7px 15px;
}

.mi-slider nav a {
    letter-spacing: 1px !important;
}

.GlossaryCont h3 .glyphicon,
.DownloadInoCont h3 .glyphicon {
    font-size: 20px;
    margin-right: 10px;
}

.GlossaryCont,
.DownloadInoCont {
    margin: auto;
    width: 95%;
}

.GlossaryCont h3,
.DownloadInoCont h3 {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 10px 10px 10px 15px;
}

.GlossaryCont h3 {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 10px 10px 10px 15px;
}

.GlossaryCont .row {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0dfdf;
}

.GlossaryCont .Title {
    color: #e60404;
    margin-right: 25px;
    text-align: right;
}

.GlossaryCont {
    margin-left: 50px;
    margin-right: 15px;
    background: #FFF;
    padding: 20px;
    border: 1px solid #e0dfdf;
}

.mi-slider h2 {
    margin-bottom: 20px;
}

.DownloadList .glyphicon {
    color: #01bb18;
    margin-right: 10px;
}

.DownloadList a {
    color: #333;
}

.DownloadList {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.DownloadList > li {
    padding: 5px 0 5px 10px;
}

.DownloadListHeading {
    background: #d9edf7 none repeat scroll 0 0;
    color: #335567;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.StatsBody {
    background: #F4F4F4;
}

.TableContainer {
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 10px;
}

.panel-collapse.collapse .TableContainer {
    padding-top: 0px;
    margin-top: 10px;
}

.StatPanelsCont {
    margin-left: 50px;
    margin-right: 15px;
}

.StatPanel {
    background-color: white;
    border: 1px solid #e0dfdf;
}

.TableContainer .dataTables_wrapper .dataTables_length {
    margin-bottom: 10px;
    margin-left: 15px;
}

table.Custable {
    border: medium none !important;
    border-top: 1px solid #cfcfcf !important;
    border-radius: 0 !important;
}

.TableContainer .dataTables_wrapper .dataTables_paginate {
    margin-right: 15px;
    padding-top: 7px;
}

.TableContainer .dataTables_wrapper .dataTables_info {
    margin-left: 15px;
    padding-top: 10px;
}

table.Custable {
    border-radius: 0;
    border: none;
}

table.Custable thead tr {
    background: white none repeat scroll 0 0;
}

table.Custable thead tr th,
table.Custable thead tr td {
    border: medium none;
    border-left: 1px solid #E7E7E7;
    text-align: left;
}

table.Custable thead tr th,
table.Custable thead tr td {
    border: medium none;
}

table.Custable thead tr:last-child th,
table.Custable thead tr:last-child td {
    background-color: #f5f5f5;
    border-color: white;
    text-align: left;
}

table.Custable.Rec thead tr:last-child th,
table.Custable.Rec thead tr:last-child td {
    background: white none repeat scroll 0 0;
}

select {
    border: 1px solid lightgray;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

input[type="search"],
input {
    border: solid 1px lightgray;
    padding: 2px;
    height: 27px;
    line-height: 27px;
}

table.Custable tbody tr td:first-child {
    background-color: #F9F9F9;
}

table.Custable tbody tr.even td {
    background-color: #FBFBFB;
}

table.Custable tbody tr.even td:first-child {
    background-color: #f1f1f1;
}

table.Custable tbody tr:hover td {
    background-color: #f1f1f1;
}

table.Custable tbody tr:hover td:first-child {
    background-color: #e6e6e6;
}

table.Custable tbody tr td {
    border-left: 1px solid #EDEDED;
    padding-left: 8px;
}

table.Custable tbody tr td:first-child,
table.Custable thead tr th:first-child {
    border-left: none;
}

table.Custable tbody tr:last-child td {
    border-bottom: 1px solid #cfcfcf;
}

table.Custable tbody tr:first-child td {
    border-top: 1px solid #cfcfcf;
}

.MIPStatusCont {
    margin-top: 20px;
    text-align: center;
}

.MIPStatus-text {
    background: #f2dede none repeat scroll 0 0;
    border: 1px solid #ebcbcb;
    color: #cd4040;
    display: inline-block;
    margin: auto;
    padding: 15px;
    width: 500px;
}

.MIPStatus-text .glyphicon {
    margin-right: 9px;
}

.InActiveDialStat,
.ActiveDialStat,
.LoggedAgentIco {
    color: #ea2529;
    font-size: 14px;
    padding-right: 10px;
}

.StatusTxt {
    font-size: 18px;
}

.LeftMenu {
    display: block;
    background-color: #ea2326;
    background-repeat: repeat-x;
    bottom: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 42px;
    width: 37px;
    z-index: 100;
}

.LeftMenu li {
    background-color: transparent;
    background-image: none;
    background-position: left 9px center;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0;
    line-height: 36px;
    opacity: 1;
    position: relative;
}

.LeftMenu li:hover {
    background-color: #c10000;
    cursor: default;
    opacity: 1;
}

.LeftMenu:hover {
    background-color: #ea2326;
    width: 210px;
}

.LeftMenu li a {
    background-image: none;
    border-radius: 0 !important;
    color: white;
    margin-right: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
    text-shadow: none;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}

.LeftMenu li a span {
    margin-right: 10px;
    width: 20px;
}

.panel-title {
    color: inherit;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 0;
}

.panel-title a:hover,
.panel-title a:focus,
.panel-title a:active {
    color: #008dff;
    text-decoration: none;
    border: none;
}

.LeftMenu,
.LeftMenu li {
    transition: all 0.3s ease 0s;
}

.InboundStatInfo {
    float: left;
    font-size: 14px;
}

.InboundStatInfo:first-child {
    margin-right: 30px;
}

.LoggedAgentIco {
    float: left;
}

.InActiveDialStat,
.ActiveDialStat {
    margin-left: 0;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}

.main-content .content h1 {
    font-weight: 100;
}

.main-content .content p {
    width: 100%;
    line-height: 160%;
}

.main-content #sidebar-toggle {
    background: #DF314D;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    margin-left: -15px;
}

.main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
}


/* login
----------------------------------------------------------*/

#login {
    display: block;
    font-size: medium;
    margin: 0 0 10px;
    text-align: right;
}

.CampPerTitle .glyphicon {
    margin-right: 10px;
}

.navbar-brand {
    height: auto;
    padding-bottom: 0;
    padding-left: 8px;
    padding-top: 6px;
}

.TopNav {
    background-color: #312c32;
    border-bottom: 2px solid #ea2529;
    border-radius: 0;
    height: auto;
    margin-bottom: 0;
    min-height: 43px;
}

.NavBarUserName {
    color: #eee;
    font-size: small;
    margin-right: 5px;
}

.PageTopFilter {
    background: white none repeat scroll 0 0;
    border-bottom: 1px solid #e8e8e8;
    line-height: 38px;
    margin-bottom: 10px;
    margin-left: 38px;
    padding-left: 15px;
    padding-right: 20px;
}

.PageTopFilterDate {
    text-align: right;
}

.TopNav .navbar-nav > li {
    border-left: 1px solid #444045;
}

.LoginCheck {
    height: 22px;
    line-height: 22px;
    margin-bottom: 1px;
    margin-top: 20px;
    text-align: left;
}

.LoginCheck a {
    color: #e3512a;
    margin-left: 5px;
}

.LoginCheck .glyphicon-arrow-left {
    margin-right: 5px;
}

.navbar-text.TopbarUserTxt {
    background-color: #de0000;
    color: #fff8f8;
    height: 39px;
    line-height: 39px;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    right: 280px;
}

.navbar-text.TopbarUserTxt > span,
.navbar-text.TopbarUserTxt .StatusTxt {
    line-height: 39px;
    height: 39px;
}

.navbar-text .glyphicon {
    color: white;
    float: left;
    margin-right: 5px;
    margin-top: 12px;
    padding: 0 3px 0 0;
}

.navbar-text .StatusTxt {
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.3px;
    min-width: 200px;
    text-transform: uppercase;
}

.TopNav .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.LoginValidationSuccess {
    box-sizing: border-box;
    color: #54ad2c;
    font-weight: normal;
    margin: 5px 0;
    outline: medium none;
    padding: 6px 10px 6px 40px !important;
    width: 100%;
}

.LoginValidationErrorList ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.LoginValidationErrorList ul li,
.LoginValidationError {
    margin: 0 37px 15px;
    padding: 10px 6px 10px 48px !important;
    width: auto;
}

.LoginValidationErrorList ul li,
.LoginValidationError {
    background: #ffdedd url("../Images/errorIcon.png") no-repeat scroll 12px center !important;
    box-sizing: border-box;
    color: #ce1125;
    margin: 5px 0;
    outline: medium none;
    padding: 6px 10px 6px 40px !important;
    width: 100%;
}

.LoginPageContent {
    height: 450px;
    left: 50%;
    margin-left: -240px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    width: 450px;
}

.LoginPageBody {
    background: #f1f1f1 none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.LoginPageBody.ChangePassword {
    top: 44px;
}

.LoginBox {
    background: white none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 2px 2px 0 #c5c4c4;
    margin: auto;
    padding: 25px 30px;
    width: 380px;
}

.LoginCheck {
    height: 22px;
    line-height: 22px;
    margin-bottom: 1px;
    margin-top: 20px;
    text-align: left;
}

.LoginCheck .login_checkbox {
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    text-align: right;
}

.LoginCheck > input[type="checkbox"] {
    float: left;
    margin-top: -2px;
}

.LoginForgotPassTxt {
    color: #e3512a;
    margin-left: 5px;
}

.LoginPanelHeading {
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}

.LoginFormFields {
    margin-top: 20px;
}

.LoginBtn {
    background-color: #ea2225;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    float: none;
    height: 38px;
    margin: 25px 0 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 100%;
}

.loginField,
.passwordField {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.LoginFormFields input {
    border-top: 0px;
    border-right: 0px;
}

.LoginFormField {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 46px;
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    overflow: hidden;
}

.LoginFormFields > .LoginFormField:first-child {
    border-bottom: medium none;
    border-radius: 3px 3px 0 0;
}

.LoginFormFields > .LoginFormField.ForgotPassFormField {
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.LoginPageLogo {
    margin-bottom: 20px;
}

.LoginPageLogo > img {
    margin: auto;
}

.LoginTopMenu > li > a {
    color: #e92529;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: capitalize;
}

.LoginTopMenu > li > a:hover {
    background: transparent none repeat scroll 0 0;
    color: #333333;
}

.CallStatBx {
    padding: 21px 15px;
}

.AgentSatePanel .CallStatBx {
    text-align: right;
}

.CallsSatePanel .CallStatBx {
    text-align: center;
}

.CallStatBxBorder {
    border-right: 1px solid #e8e8e8;
}

.CallStatTitle {
    font-size: 15px;
    height: 16px;
    line-height: 16px;
}

.CallsSatePanel h3 {
    background: #00bcd4 none repeat scroll 0 0;
    color: #eaf5f7;
}

.AgentSatePanel h3 {
    background: #607d8b none repeat scroll 0 0;
    color: #dae1e4;
}

.CallStatData {
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.AgentStatusPanel,
.CallIntervalPanel {
    height: 320px;
    margin-top: 10px;
    overflow: hidden;
}

footer.PageFooter {
    border-top: 1px solid lightgray;
    bottom: 0;
    color: #999;
    /*margin-top: 15px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    background-color: #F4F4F4;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.TfnCalls {
    height: 297px;
    overflow: hidden;
}

.ClientNameTxt {
    color: #ea2326;
}

.CampNameTxt {
    color: #ea2326;
}

.CallStatBx img {
    margin-top: 10px;
}

.AgentSatePanel {
    margin-top: 10px;
}

.CallsSatePanel {
    margin-top: 0px;
}

.StatPanel.CallsSatePanel,
.StatPanel.AgentSatePanel {
    height: 143px;
    overflow: hidden;
}

 .CallsSatePanel-secondary {
    height: 160px !important;
} 

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #e6e6e6 none repeat scroll 0 0;
    border: solid 1px #E0E0E0;
    font-weight: normal;
}

h3.StatPanelTitle {
    border-bottom: 1px solid #e8e8e8;
    font-size: 20px;
    margin: 0;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alertBox {
    margin-top: 25px;
    font-size: 12px;
    text-align: center;
}

.alertBox > * {
    margin-bottom: 10px;
}

.AlertBrowsers {
    background: #dfdfdf linear-gradient(to bottom, #eeeeee 0%, #dfdfdf 100%) repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    display: inline-block;
    list-style: outside none none;
    padding: 2px 4px 2px 2px;
    width: auto;
}

.LoginFormFields > .LoginFormField {
    border-radius: 0 0 3px 3px;
}

.icon-username {
    background-image: url("../Images/icon-username.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    width: 55px;
    height: 46px;
}

.icon-email {
    background-image: url("../Images/icon-email.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    width: 55px;
    height: 46px;
}

.icon-password {
    background-image: url("../Images/icon-password.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    width: 55px;
    height: 46px;
}

.form__input {
    background: transparent none repeat scroll 0 0;
    border-left: 1px solid #ebebeb;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 46px;
    text-indent: 10px;
}

.myCheckbox input {
    display: none;
}

.myCheckbox input ~ input ~ span {
    display: inline-block;
    width: 19px;
    height: 19px;
    /*margin: -1px 4px 0 0;*/
    vertical-align: middle;
    background: url('../Images/check_radio_sheet.png') left top no-repeat;
    cursor: pointer;
}

.myCheckbox input:checked ~ input ~ span {
    background: url('../Images/check_radio_sheet.png') -19px top no-repeat;
}


/*#login a {
    background-color: none;
    display: inline;
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}*/

.borderstyle {
    background-color: #fff;
    height: 100%;
    border-radius: 3.5px;
    border: 1px solid #dbdbdb;
}

.row {
    margin-left: -4px;
    margin-right: -4px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 4px;
    padding-right: 4px;
}

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

a:hover {
    color: red;
}

.boxpadding {
    padding-left: 0px;
}

.PageTopFilterTime {
    margin-left: 15px;
}

.PageTopFilterChk {
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .GlossaryCont .row:last-child {
        margin-bottom: 30px;
    }
    .navbar-collapse li:last-child .glyphicon-off {
        float: left;
        margin-right: 10px;
    }
    .StatPanel.CallsSatePanel,
    .StatPanel.AgentSatePanel {
        height: auto;
    }
    .navbar-text.TopbarUserTxt {
        position: relative;
        right: 0px;
        left: 0;
    }
    .PageTopFilterTime {
        margin-left: 0px;
        display: block;
    }
    .PageTopFilterDate {
        margin-top: 5px;
    }
    .navbar-brand > img {
        width: 170px;
    }
    .navbar-brand {
        padding-left: 0;
        padding-top: 15px;
        width: 170px;
    }
    .mi-slider {
        margin-top: 50px;
    }
    .mi-slider ul li img {
        margin-top: 50px !important;
    }
    .mi-slider ul:first-child li img {
        margin-top: 0 !important;
    }
    .TopMenuUserLogin .glyphicon {
        float: left;
        margin-right: 12px;
    }
    .AlertBrowsersTxt {
        letter-spacing: -0.5px;
    }
    .LoginPageContent {
        margin-left: -170px;
        width: 340px;
    }
    .AlertBrowsers {
        letter-spacing: -0.5px;
    }
    .text-center.AlertBrowsers img {
        display: none;
    }
    .LoginBox {
        padding: 15px;
        width: 320px;
    }
    .PageTopFilter {
        padding: 15px 0;
        line-height: 24px;
        margin-left: 0;
        margin-top: 0;
    }
    .AgentSatePanel .CallStatBx {
        text-align: center;
    }
    .LeftMenu {
        width: 25px;
    }
    .StatPanelsCont {
        margin-left: 0;
        margin-right: 0px;
    }
    .LeftMenu li a {
        padding: 0 0 0 5px;
    }
    .LeftMenu:hover {
        width: 122px;
    }
    .LeftMenu li a {
        font-size: 12px;
    }
    .LeftMenu:hover li a span {
        display: none;
    }
    .LeftMenu:hover li a {
        padding: 0 0 0 4px;
    }
    .LeftMenu {
        top: 53px;
    }
    .TopMenuTxt {
        margin-left: 10px;
    }
    .GlossaryCont .Desc {
        margin-bottom: 20px;
    }
    .GlossaryCont .Title {
        text-align: left;
    }
    .PageTopFilterDate {
        letter-spacing: -.3px;
    }
}

@media screen and (max-width: 1200px) {
    .CallsSatePanel {
        margin-top: 10px;
    }
    .PageTopFilterDate {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .boxpadding {
        padding-left: 5px;
    }
}


/*@media screen and (max-width: 1200px) {
    #frow {
        display: none;
    }
}*/

#TFNQpiecontainer {
    height: 280px;
    width: 100%;
}

#DispContainer {
    height: 280px;
    width: 100%;
}

#tfn-disp-piecontainer {
    height: 280px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .LeftMenu {
        display: none;
    }
    .CallStatTitle {
        font-size: 12px;
    }
    .CallStatData {
        line-height: 30px;
        font-size: 22px;
    }
    #TFNQpiecontainer {
        height: 200px;
        width: 98%;
    }
    #DispContainer {
        height: 200px;
        width: 98%;
    }
    .TfnCalls {
        height: 200px;
    }
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        text-align: left;
        margin-left: 0;
    }
    .TableContainer {
        padding: 10px;
        overflow: auto;
    }
    .TableContainer .dataTables_wrapper .dataTables_length {
        margin-left: 0;
    }
    .navbar-nav {
        overflow: hidden;
    }
}

#agenttable {
    width: 100% !important;
}

.browserIcon {
    background: #FFF;
    list-style: none;
    display: inline-block;
    border-radius: 4px;
    padding: 0 4px 0px 0px;
    margin: 6px 0px 6px 0;
    width: auto;
}

.browserIcon li img {
    margin-right: 5px;
    display: inline;
    position: relative;
    top: 0px;
}

.browserIcon li {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 2px 5px 5px 7px;
    color: #3f3f3f;
    line-height: 24px;
    font-size: 11px;
}

.adminContainer {
    margin-left: 50px;
    margin-right: 15px;
    padding-top: 5px;
}

.adminContainer .panel {
    padding: 20px;
}

.adminContainer td {
    padding: 10px 0;
    font-size: 12px !important;
}

.adminContainer table.Custable {
    border-top: none !important;
}

.adminContainer table thead th {
    font-weight: bold !important;
    font-size: 12px;
}

.tdLinks {
    width: 200px;
}

.adminContainer .tdLinks .btn-default {
    font-size: 12px;
    margin-right: 0 !important;
}

.adminContainer table.Custable tbody tr:hover td,
.adminContainer table.Custable thead th:hover td {
    background: #F4F4F4 !important;
}

.adminContainer a {
    color: blue;
}

.createPro {
    font-size: 12px;
}

.createPro a {
    color: #FFF;
    padding: 5px 8px;
    background: #4CAF50;
    line-height: 13px;
    height: 24px;
    box-sizing: border-box;
    position: relative;
    top: -3px;
    font-size: 12px;
    border-radius: 3px;
}

.createPro a:hover,
.createPro a:active,
.createPro a:focus {
    text-decoration: none !important;
    background: #2E7D32;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}


/*.adminContainer .editor-label, .adminContainer .editor-field  {float: left;}*/


/*.adminContainer .editor-field input {width: 80%;}*/

.adminContainer .form-group {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.adminContainer .editor-label {
    text-align: right;
    line-height: 30px;
}

.adminContainer .form-group input[type="text"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.adminContainer table.Custable tbody tr.odd td:first-child {
    background: transparent;
}

.adminContainer table.Custable tbody tr.even td:first-child {
    background: #FBFBFB;
}

.wrapper {
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .GlossaryCont {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .adminContainer {
        margin-left: 0;
        margin-right: 0;
    }
    .tdLinks .btn.btn-default {
        margin-bottom: 6px;
    }
    .adminContainer .editor-label {
        text-align: left;
    }
    .settings {
        width: 100%;
    }
    .settings .LoginPageBody.ChangePassword {
        position: static;
        width: 100%;
        float: left;
    }
    .settings .LoginBox,
    .settings .LoginPageContent {
        position: static;
        width: 100%;
        float: left;
    }
    .settings .LoginPageContent {
        margin: 0;
    }
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
}

h2 {
    font-size: 24px;
}

.backbtn a,
.backbtn span {
    color: #666 !important;
    font-size: 13px;
}

.backbtn .glyphicon {
    font-size: 11px;
}

.adminContainer .panel-footer {
    padding-bottom: 0;
    padding-left: 0;
    background: transparent;
}

.adminContainer .btn-default.active,
.adminContainer .btn-default:active {
    background: #276192 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px 7px;
    border: solid 1px #ccc;
    font-size: 12px !important;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #e6e6e6;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: solid 1px #ccc;
}

.form__input {
    background: transparent none repeat scroll 0 0;
    border-left: 1px solid #ebebeb;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 46px;
    text-indent: 10px;
}

.LoginFormField input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.activeLink {
    background: #c10000;
}

.tab-content {
    width: 100%;
    display: inline-block;
}

.nav-tabs > li > a {
    color: #BDBDBD
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid transparent;
    border-bottom: solid 2px #2196F3;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    border-color: transparent;
    border-bottom: solid 2px #BDBDBD;
}

.section-grey {
    width: 100%;
    padding: 10px 15px;
    float: left;
    background-color: #F5F5F5;
}

.text-label {
    line-height: 28px;
    float: left;
    margin-right: 10px;
}

.select2-container .select2-selection--multiple {
    min-height: auto !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block !important;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table,
.dataTables_scrollHeadInner {
    width: 100% !important;
}

.dataTables_wrapper .dataTables_scroll {
    width: 100%;
    float: left;
}

.tab-pane #dataTable {
    margin: 5px 0;
}

.tab-pane #dataTable .dataTables_wrapper .dataTables_length,
.tab-pane #dataTable .dataTables_info {
    margin-left: 10px;
}

.tab-pane #dataTable .div.dt-buttons,
.tab-pane #dataTable .dataTables_wrapper .dataTables_paginate {
    margin-right: 10px;
}

table.dataTable {
    font-size: 11px;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
}

#treeDisposition .highcharts-container,
#activityPercent .highcharts-container,
#historical .highcharts-container,
.chart .highcharts-container {
    width: 100% !important
}

.btn-border {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    outline: none;
}

.btn-border .glyphicon {
    color: #2196F3;
    font-size: 15px;
    margin: 0;
}

.popover-content {
    padding: 5px 14px;
    font-size: 12px;
    display: inline-block;
}

.list-info {
    padding: 5px 0;
    width: 100%;
    float: left;
}

.check-switch .btn-group {
    height: 30px;
    border-radius: 2px !important;
}

.check-switch .btn-checkbox {
    border-radius: 2px;
    border-color: lightgray;
}

.check-switch .btn-group a {
    height: 30px;
    padding: 0 15px;
    line-height: 28px;
}

.check-switch .btn-danger.active,
.check-switch .btn-success.active,
.check-switch .btn-danger.active:hover,
.check-switch .btn-success.active:hover  {
    background-color: #009788 !important;
    border-color: #009788 !important;
    color: #FFF !important;
    vertical-align: top;
}

.check-switch .btn:hover {
    background-color: #f4f4f4 !important;
    color: #333 !important;
}

.check-switch input.value {
    width: 100px; 
    height: 30px;
    padding: 0 10px;
    display: inline-block;
}
.check-switch #addRow {
    border-radius: 2px;
    line-height: 17px !important;
}

.thresholds-container label {
    line-height: 30px;
}

.btn.transparent,
.btn.transparent:focus,
.btn.transparent:active {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    outline: none;
}

.btn.transparent span {
color: #337bb6 !important;
}

.btn.outline {
    background-color: #FFF !important;
    color: #333 !important;
    border-color: #cfd8dd;
}

.modal-footer {
    padding: 10px;
    background-color: #f4f4f4
}

.modal-footer .btn:active {
    background-color: #337ab7
}

.modal-footer .btn + .btn {
    margin: 0;
}

.modal-footer {
    text-align: left;
}

.LeftMenu li a#Thresholds {
    padding-left: 8px;
}
.modal-dialog {
  padding-top: 15%;
}


.modal-content {
    border-radius:0px;
}
.no-border .list-group-item{
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.no-border .list-group-item:first-child  {
    border-top: none;
}

.no-border .list-group-item.bottom {
    border-bottom: none;
}

.SumoSelect {
    float: left;
    height: 34px;
    margin-right: 7px;
}

.SumoSelect p {
    height: 34px;
    line-height: 24px;
}

.delete-button {
    background-color: transparent !important;
    border: 1px solid #ccc !important;
    height: 34px;
    padding: 0 10px;
    line-height: 34px !important;
}

.delete-button span {
    color: #333 !important;
    margin-right: 0 !important;
}

.form-control.custom {
    border-radius: 3px !important;
}

.alert-danger-custom {
    width: 100% !important;
    padding: 10px !important;
}

table.Custable thead tr th  {
    background-color: transparent !important;
    border-top: none !important;
    font-size: 12px;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table {
    border: none !important;
}
table.Custable {
    border-top: none !important;
}
.add-padding {
    padding: 10px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 18px 10px 18px
}