﻿@model BentleyInterface.Models.CCData

@{
    ViewBag.Title = "Add Records";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        

        <div class="form-group">
            @Html.LabelFor(model => model.RegionID, "RegionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RegionID", String.Empty)
                @Html.ValidationMessageFor(model => model.RegionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emails_Received, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emails_Received)
                @Html.ValidationMessageFor(model => model.Emails_Received)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emails_Responded_Within_SLA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emails_Responded_Within_SLA)
                @Html.ValidationMessageFor(model => model.Emails_Responded_Within_SLA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fax_Received, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fax_Received)
                @Html.ValidationMessageFor(model => model.Fax_Received)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fax_Responded_Within_SLA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fax_Responded_Within_SLA)
                @Html.ValidationMessageFor(model => model.Fax_Responded_Within_SLA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Letters_Received, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Letters_Received)
                @Html.ValidationMessageFor(model => model.Letters_Received)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Letters_Responded_Within_SLA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Letters_Responded_Within_SLA)
                @Html.ValidationMessageFor(model => model.Letters_Responded_Within_SLA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Open_Concern, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Open_Concern)
                @Html.ValidationMessageFor(model => model.Open_Concern)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Closed_Concern, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Closed_Concern)
                @Html.ValidationMessageFor(model => model.Closed_Concern)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InProgress_Concern, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InProgress_Concern)
                @Html.ValidationMessageFor(model => model.InProgress_Concern)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DWS_Leads, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DWS_Leads)
                @Html.ValidationMessageFor(model => model.DWS_Leads)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PLE_Leads, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PLE_Leads)
                @Html.ValidationMessageFor(model => model.PLE_Leads)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MSP)
                @Html.ValidationMessageFor(model => model.MSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HQ_Profile_Quality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HQ_Profile_Quality)
                @Html.ValidationMessageFor(model => model.HQ_Profile_Quality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours_delivered, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours_delivered)
                @Html.ValidationMessageFor(model => model.Hours_delivered)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
