﻿@model BentleyInterface.Models.CCData

@{
    ViewBag.Title = "Details";
}



<div>
   
	<hr />
    <dl class="dl-horizontal">
	
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emails_Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emails_Received)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emails_Responded_Within_SLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emails_Responded_Within_SLA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax_Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax_Received)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax_Responded_Within_SLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax_Responded_Within_SLA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Letters_Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letters_Received)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Letters_Responded_Within_SLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letters_Responded_Within_SLA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open_Concern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open_Concern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Closed_Concern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Closed_Concern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InProgress_Concern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InProgress_Concern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DWS_Leads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DWS_Leads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLE_Leads)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLE_Leads)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HQ_Profile_Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HQ_Profile_Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours_delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours_delivered)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.Region.Region1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Region1)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("TL"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <div> | </div>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
