﻿@model IEnumerable<BentleyInterface.Models.CCData>

@{
    ViewBag.Title = "CC Data Input";
}




   @if (Request.IsAuthenticated && User.IsInRole("TL"))
   { 
     @Html.ActionLink("Add an Activity    ", "Create") 
   }
   
  

<table class="table">
    <tr>
        <th>
         @Html.DisplayNameFor(model => model.Date)
          </th>

        @foreach (var item in Model)
        {
               if (Request.IsAuthenticated && User.IsInRole("TL"))
               { 
                    <td>
                        @Html.ActionLink(item.Date.ToString(), "Edit", new { id = item.ID })
                    </td>
               }
               else
               { 
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
               }
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Region.Region1) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Region.Region1) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Emails_Received) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Emails_Received) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Emails_Responded_Within_SLA) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelitem => item.Emails_Responded_Within_SLA) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Fax_Received) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Fax_Received) </td>
        }

    </tr>


    <tr>
        <th> @Html.DisplayNameFor(model => model.Fax_Responded_Within_SLA) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Fax_Responded_Within_SLA) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Letters_Received) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Letters_Received) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Letters_Responded_Within_SLA) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Letters_Responded_Within_SLA) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Open_Concern) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Open_Concern) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Closed_Concern) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Closed_Concern) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.InProgress_Concern) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.InProgress_Concern) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.DWS_Leads) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.DWS_Leads) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.PLE_Leads) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.PLE_Leads) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.MSP) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.MSP) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.HQ_Profile_Quality) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.HQ_Profile_Quality) </td>
        }

    </tr>

    <tr>
        <th> @Html.DisplayNameFor(model => model.Hours_delivered) </th>

        @foreach (var item in Model)
        {
            <td> @Html.DisplayFor(modelItem => item.Hours_delivered) </td>
        }

    </tr>

    

    </table>
