﻿<style type="text/css">
  

    .hi-icon-wrap {
        text-align: center;
    }

    .hi-icon {
        display: inline-block;
        
        cursor: pointer;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #fff;
        background-color: #DF314D;
         font-family: 'calibri';
            speak: none;
            padding: 5px;
            padding-top: 20px;
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-weight: bold;
            display: block;
            -webkit-font-smoothing: antialiased;
    }

        .hi-icon:after {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: '';
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        .hi-icon:before {
         
            -webkit-font-smoothing: antialiased;
        }


    /* Effect 7 */
    .hi-icon-effect-7 .hi-icon {
        box-shadow: 0 0 0 4px rgba(255,255,255,1);
        -webkit-transition: background 0.2s, color 0.2s;
        -moz-transition: background 0.2s, color 0.2s;
        transition: background 0.2s, color 0.2s;
    }

        .hi-icon-effect-7 .hi-icon:hover {
            color: #fff;
            font-size:23px;
            padding-top:17px
        }

        .hi-icon-effect-7 .hi-icon:after {
            top: -8px;
            left: -8px;
            padding: 8px;
            z-index: -1;
            opacity: 0;
        }

    /* Effect 7a */
    .hi-icon-effect-7a .hi-icon:after {
        box-shadow: 0 0 0 rgba(255,255,255,1);
        -webkit-transition: opacity 0.2s, box-shadow 0.2s;
        -moz-transition: opacity 0.2s, box-shadow 0.2s;
        transition: opacity 0.2s, box-shadow 0.2s;
    }

    .hi-icon-effect-7a .hi-icon:hover:after {
        opacity: 1;
        box-shadow: 3px 3px 0 #DF314D;
    }

    .hi-icon-effect-7a .hi-icon:before {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 1;
        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
        -moz-transition: -moz-transform 0.2s, opacity 0.2s;
        transition: transform 0.2s, opacity 0.2s;
    }

    .hi-icon-effect-7a .hi-icon:hover:before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
</style>
<h3 class="StatPanelTitle">Calls Information</h3>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
	<div class="CallStatBx">
        <div class="CallStatTitle">Answered</div>
        <div  class="CallStatData" id="hi-icon-ans"></div>
	</div>   
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
	<div class="CallStatBx">
    <div class="CallStatTitle">Offered</div>
    <div id="hi-icon-off" class="CallStatData"></div>
	</div>                      
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        
		<div class="CallStatBx">
                            <div class="CallStatTitle">Queue</div>
                            <div class="CallStatData" id="hi-icon-que"></div>
		</div>                  
    </div>
    <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">
        
		<div class="CallStatBx">
                            <div class="CallStatTitle">Abandoned</div>
                                <div class="CallStatData" id="hi-icon-aban"></div>
                            
		</div></div>
    <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">
        
		<div class="CallStatBx">
                            <div class="CallStatTitle">Occupancy</div>
                                <div class="CallStatData" id="hi-icon-occ"></div>
                            
		</div></div>


</div>
