﻿<style>
    .myCheckbox input {
        display: none;
    }

        .myCheckbox input + span {
            display: inline-block;
            width: 19px;
            height: 19px;
            /*margin: -1px 4px 0 0;*/
            vertical-align: middle;
            background: url('../Images/check_radio_sheet.png') left top no-repeat;
            cursor: pointer;
        }

        .myCheckbox input:checked + span {
            background: url('../Images/check_radio_sheet.png') -19px top no-repeat;
        }
</style>
<div class="row">
<div class="PageTopFilter clearfix">
    <div class="col-md-4 col-sm-12 col-xs-12 pull-left PageTopFilterTitle">
	<div class="CampPerTitle">
        <span id="module" ></span>
        <span class="ClientNameTxt">@Session["ClientName"]</span> -
        <span class="CampNameTxt" id="CampaignName">@Session["CampaignName"]</span>

    </div>
	</div>

    <div class="col-md-6 col-sm-12 col-xs-12 pull-right PageTopFilterDate">
    
	<span class="PageTopFilterDate"> 
        <label id="lastupdateon" style="font-weight: normal;">Last updated: <span id="lastUpdateTime" style="padding-top: 5px; font-weight: bold"></span></label>
    </span> 
	
	<span class="PageTopFilterTime">                      
			   <label style="text-align: left; font-weight: normal" id="RefreshTime">Refresh time: <span style="font-weight: bold">15 seconds </span></label>
			   <span class="PageTopFilterChk">
			   <label class="myCheckbox" id="refreshcheckboxlabel">
			   <input id="refreshCheckbox" type="checkbox" checked="checked" />
			   <span> </span> 
			   </label>
			   <label id="autorefresh" style="font-weight: bold">Auto Refresh</label>
			   </span>
	</span>
    
	</div>
</div>
</div>
