﻿@{
    ViewBag.Title = "Call Recordings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #menurecord
    {
        background: #c10000;
    }
</style>
<script>
    $(document).ready(function () {
        $("#DialingStatus").hide()
        document.getElementById("module").innerHTML = "<span class='glyphicon glyphicon-play' ></span><span >Call Recordings</span> | ";

        // set default dates
        var start = new Date();
        // set end date to max one year period:
        var end = new Date(new Date().setYear(start.getFullYear() + 1));
        $('#inputalert').hide();
        $("#dateinputalert").hide();
        $("#lastUpdateTime").hide();
        $("#RefreshTime").hide();
        $("#refreshCheckbox").hide();
        $("#lastupdateon").hide();
        $("#autorefresh").hide();
        $("#refreshcheckboxlabel").hide();

        $('#startdate').datepicker({
            // "setDate": new Date(),
            autoclose: true,
          //  format: "yyyy-mm-dd",
            startDate: new Date(new Date(new Date().setDate(new Date().getDate() - 90)))
            // update "enddate" defaults whenever "startdate" changes
        }).on('changeDate', function () {
            // set the "enddate" start to not be later than "startdate" ends:
            $('#enddate').datepicker('setStartDate', new Date($(this).val()));
            $('#enddate').datepicker('setEndDate', new Date(new Date($(this).val()).setDate(new Date($(this).val()).getDate() + 15)));

            var startdate = new Date($('#startdate').val());
            var enddate = new Date($('#enddate').val());

            if (enddate.getTime() < startdate.getTime()) {
                $('#enddate').val($(this).val());
            }
        });

        $('#enddate').datepicker({
            // "setDate": new Date(),
            autoclose: true,
           // format: "yyyy-mm-dd",
            startDate: new Date(new Date(new Date().setDate(new Date().getDate() - 90)))
            // update "startdate" defaults whenever "enddate" changes
        }).on('changeDate', function () {
            // set the "startdate" end to not be later than "enddate" starts:
            $('#startdate').datepicker('setEndDate', new Date($(this).val()));
            $('#startdate').datepicker('setStartDate', new Date(new Date($(this).val()).setDate(new Date($(this).val()).getDate() - 15)));
            var startdate = new Date($('#startdate').val());
            var enddate = new Date($('#enddate').val());

            if (enddate.getTime() < startdate.getTime()) {
                $('#startdate').val($(this).val());
            }
        });

        //alert('@TempData["startdate"]');
        $('#startdate').val('@TempData["startdate"]');
        $('#enddate').val('@TempData["enddate"]');
        //$('#startdate').val(new Date('@TempData["startdate"]').toJSON().slice(0, 10));
        //$('#enddate').val(new Date('@TempData["enddate"]').toJSON().slice(0, 10));
        $('#uniqueid').val('@TempData["uniqueid"]');
        $('#tel').val('@TempData["tel"]');
        $('#agentid').val('@TempData["agentid"]');


        $('#Callrecordings').DataTable({
            responsive: true,
        });
        $('[data-toggle="tooltip"]').tooltip();


        var records = '@TempData["Panel"]';
        //alert(records);
        if (records == "false") {

            $("#collapseOne").removeClass('in');
            $("#collapseOne").addClass('collapsed');

            $("#collapseTwo").removeClass('collapsed');
            $("#collapseTwo").addClass('in');

        }

        else {

            $("#collapseOne").addClass('in');
            $("#collapseOne").removeClass('collapsed');

            $("#collapseTwo").addClass('collapsed');
            $("#collapseTwo").removeClass('in');


        }



    });

    function AlphaNumeric(e) {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }

        e.preventDefault();
        return false;
    }

    //$('#uniqueid').keypress(function (e) {
    //    AlphaNumeric(e)
    //});

    //$('#agentid').keypress(function (e) {
    //    AlphaNumeric(e)
    //});

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function Continue(e) {
        $('#inputalert').hide();
        $('#dateinputalert').hide();
        if ($('#startdate').val() == "" && $('#enddate').val() == "" && $('#uniqueid').val() == "" && $('#tel').val() == "" && $('#agentid').val() == "") {
            $('#inputalert').show();
            e.preventDefault();
        }
        else if (($('#startdate').val() != "" && $('#enddate').val() == "") || ($('#startdate').val() == "" && $('#enddate').val() != "")) {
            $('#dateinputalert').show();
            e.preventDefault();
        }
        else {
            $('#inputalert').hide();
            $('#dateinputalert').hide();
            $("#collapseOne").removeClass('in');
            $("#collapseOne").addClass('collapsed');

            $("#collapseTwo").removeClass('collapsed');
            $("#collapseTwo").addClass('in');
            $('#startdate').attr('readonly', true);
            $('#enddate').attr('readonly', true);
            $('#uniqueid').attr('readonly', true);
            $('#agentid').attr('readonly', true);
            $('#tel').attr('readonly', true);
            $.LoadingOverlay("show");
        }
    }



</script>

@model List<ClientDashboard.Models.CallRecordingReport_Result>




@using (Html.BeginForm("Recordings", "Dashboard", FormMethod.Post))
{

            @Html.Partial("_HeaderPartial")
			<div class="row">
			<div class="StatPanelsCont">
			<div class="col-sm-12 col-md-12">
			
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="padding-top: 0">
			<div class="panel panel-default">
			<div class="panel-heading clear-fix" role="tab" id="headingOne">
                <h4 class="panel-title pull-left">
                    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Search Recordings</a> 
                </h4>
				<a href="/Home/Download" class="btn pull-right" title="Download" data-toggle="tooltip" data-placement="bottom"><span class="glyphicon glyphicon-save"></span>Download NR Player</a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                <div class="panel-body" id="loading">


                    <div class="col-lg-6">
                    <div class="form-group has-feedback">
                        <div class="input-group col-lg-8">
                            <span class="input-group-addon" style="width: 150px">Start Date</span>
                            <input type="text" class="form-control" id="startdate" placeholder="Start Date" name="startdate" data-toggle="tooltip" title="Start date of the duration for recording is being search" style="cursor:pointer" readonly="true">
                            <span class="glyphicon glyphicon-calendar form-control-feedback " aria-hidden="true"></span>
                        </div>
                    </div>
                        </div>
  

                    <div class="col-lg-6">
                    <div class="form-group has-feedback">
                        <div class="input-group col-lg-8">
                            <span class="input-group-addon" style="width: 150px">End Date</span>
                            <input type="text" class="form-control" id="enddate" placeholder="End Date" name="enddate" data-toggle="tooltip" title="End date of the duration for recording is being search" style="cursor:pointer" readonly="true">
                            <span class="glyphicon glyphicon-calendar form-control-feedback " aria-hidden="true"></span>
                        </div>
                    </div>
                        </div>

                    
                    <div class="col-lg-6">
                        <div class="form-group has-feedback">
                        <div class="input-group col-lg-8">
                            <div class="input-group-addon" style="width: 150px">Unique ID</div>
                            <input type="text" class="form-control" id="uniqueid" onkeypress="return AlphaNumeric(event)" placeholder="Unique ID" name="uniqueid" data-toggle="tooltip" title="Unique identity to search recording">
                        </div>
                    </div>
                        </div>
                    <div class="col-lg-6">
                        <div class="form-group has-feedback">
                        <div class="input-group col-lg-8">

                            <div class="input-group-addon" style="width: 150px">Telephone Number</div>
                            <input type="text" class="form-control" id="tel" onkeypress="return isNumberKey(event)" placeholder="Telephone Number" name="tel" data-toggle="tooltip" title="Telephone number should not include country code.">
                        </div>
                    </div>
                        </div>
                    
                    <div class="col-lg-6">
                        <div class="form-group has-feedback">
                        <div class="input-group col-lg-8">
                            <div class="input-group-addon" style="width: 150px">Agent ID</div>
                            <input type="text" class="form-control" id="agentid" onkeypress="return AlphaNumeric(event)" placeholder="Agent ID" name="agentid" data-toggle="tooltip" title="Representor ID to search recording">
                        </div>
                    </div>
                        </div>
                    <div class="col-lg-1">
                        <button class="btn" onclick="Continue(event);" style="width: 100px"><span class="glyphicon glyphicon-search" style="padding-right:5px"></span>Search</button>



                    </div>
                    <div id="inputalert" class="col-lg-3" style="padding-top: 5px; margin-left: 10px">
                        <div class="alert alert-danger" style="padding: 0px; text-align: justify">
                            <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Please input any one search criteria
                        </div>
                    </div>
                    <div id="dateinputalert" class="col-lg-3" style="padding-top: 5px; margin-left: 10px">
                        <div class="alert alert-danger" style="padding: 0px; text-align: justify">
                            <strong class="glyphicon glyphicon-info-sign" style="padding-left: 5px; padding-top: 2px"></strong><span style="padding-left: 5px"></span>Please input start and end date
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Recordings
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="TableContainer" >
                    <table id="Callrecordings" class="Custable display responsive nowrap">
                        <thead>
                            <tr>
                                <td>Unique ID
                                </td>
                                <td>Call ID
                                </td>
                                <td>Agent ID
                                </td>
                                <td>Call Date
                                </td>
                                @*<td>Call Type
                                </td>*@
                                <td>Campaign ID
                                </td>
                                <td>Duration
                                </td>
                                <td>Number

                                </td>
                                @*<td>Start Time
                                </td>*@
                                <td>Recording

                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                { 
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unique_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Call_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Agent_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Calldate)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Call_Type)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Campaign_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Number)

                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Start_Time)
                                    </td>*@
                                    <td>
                                        <a href="@item.NR_Segment" target="_blank" style="color:red">Play</a>
                                        @*@Html.ActionLink("Edit", "UpdateCamp", "Campaign", new { CampaignID = item.CampaignID }, new { @class = "Update" })*@
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
	</div>
	</div>
	</div>
    </div>
}

