﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "calibri",Helvetica,Arial,sans-serif;
	 background-color: #eaeaea;
    font-size: 14px;
}

body .MainBody{
 
}

a {
	color: #e42525;
  text-decoration: none;
}

a:hover, a:focus {
  color: #e42525;
  text-decoration: underline;
}
/* Set padding to keep content from hitting the edges */


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

    .loud-1 {
    font-weight: bold;
    color: Red;
}
.loud-2 {
    font-size:  2.0em;
    color:Green;
}
.loud-3 {
    font-style: italic;
    color: yellow;
    background-color: blue;
}

#tfheader {
        background-color: #c3dfef;
    }

#tfnewsearch {
  display: block;
  float: none;
  overflow: auto;
  padding: 0;
}
.navbar-brand {
  height: 60px;
}

.Logo {
  background-image: url("../Content/KbLogo.png");
  background-position: left center;
  background-repeat: no-repeat;
  width: 237px;
}

.PageCopright {
  border-top: 1px solid #d2d2d2;
  color: #303641;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}

.PageCopright.InnerPages {
  bottom: 0;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}

.InnerPageBodyCont {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 100px;
  padding-top: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn {
  border-radius: 2px;
  padding: 5px 15px;
}

.btn-primary {
  background-color: #e81b1b;
  border-color: #bc3434;
  color: #ffffff;
  min-width: 80px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #b13232;
  border-color: #8e2828;
  color: #ffffff;
}

.btn.btn-sm, .btn.btn-xs {
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}

.table .btn.btn-xs {
  padding: 0px 10px;
}

.TopSearchbtn .glyphicon.glyphicon-search {
  margin-right: 10px;
}

        /* Fixes submit button height problem in Firefox */
        .tfbutton2::-moz-focus-inner {
            border: 0;
        }

    .tfclear {
        clear: both;
    }
	

.TopNav {
  background-color: #312c32;
  border-bottom: 2px solid #ea2529;
  border-radius: 0;
}

.ContentListCont, .ContentEditCont {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  padding: 30px;
}

.ContentListCont.SearchContentList {
  margin-top: 25px;
}

.QLTitle {
  font-size: 25px;
  padding: 10px 30px;
}

.QuickLinksList {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  padding-bottom: 30px;
}

.QuickLinksList {
  box-shadow: none;
}

.QuickLinksList > ul {
  border-top: 1px solid #e4e4e4;
  padding: 0;
}

.QuickLinksList li {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e4e4e4;
  list-style: outside none none;
  padding: 7px 30px;
}

.QuickLinksList li:nth-child(2n) {
  background-color: #eeeeee;
}

.QuickLinksList a {
  display: block;
  font-size: 16px;
  text-indent: 8px;
}

.ContentEditCont label {
  font-weight: normal;
}

.ContentListCont > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}


.ContentListCont > ul  li:first-child{
  border-top: 1px solid #eaeaea;
}

.ContentListTitle, .KbItemTitle {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dddddd;
  font-family: trebuchet ms;
  font-size: 24px;
  font-weight: 500;
  margin: -30px -30px 40px;
  padding: 15px 30px;
  text-transform: capitalize;
}

.ContentListTitle .glyphicon {
  color: #555555;
  float: left;
  font-size: 24px;
  font-weight: normal;
  margin-right: 15px;
}

.KbItemTitle {
 }


.ContentListCont li {
  border-bottom: 1px solid #eaeaea;
  font-size: 16px;
  padding: 20px 10px;
}

.ContentListCont > ul > li:hover {
  background-color: #f7f7f7 !important;
}




.ContentListCont > ul > li:nth-child(2n+1) {
  background-color: #f8fdff;
}

.ContentListDate {
}

.ContentListDate label {
  font-weight: normal;
}

.ContentListDate a {
  color: #444444;
}

.ContentListDate .glyphicon-time {
  color: #444444;
  font-size: 12px;
  margin-right: 2px;
}

.ContentListTxt {
  color: #c5c5c5;
  margin-left: 15px;
}

.ContentListTxt a ,.ContentListTxt a:hover {
  color: #e42525;
}


.navbar > .container .navbar-brand, .navbar > .container .navbar-brand {
  margin-left: 0px;
}

.TopbarUserName {
  color: lightgray;
  text-transform: capitalize;
}

.TopNav .navbar-nav li a {
  color: #999999;
  display: inline-block;
  font-size: 13px;
  padding: 20px 10px;
}

.TopNav .navbar-nav li a:hover,.TopNav .navbar-nav li a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration:none;
}

.navbar-brand {
  height: 60px;
}

.KbItemDetailBtns{
text-align: center;	
}

.KbItemDetailBtns .btn{
margin-left: 5px;	
}

.KbItemDetailBtns div {
  display: inline-block;
}

.KbItemDetail .dl-horizontal {
  margin: 20px 0 40px;
}

.KbItemDetail .dl-horizontal dt{}

.dl-horizontal dd {
  color: #999999;
}

.dl-horizontal dt,.dl-horizontal dd {
  padding-bottom: 5px;
  font-weight: normal;
}

/*
.TopLoginBtn a span::before {
  background-image: url("../Content/Ico_TopLogin_Hover.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 20px;
  left: 10px;
  opacity: 0.5;
  position: absolute;
  width: 15px;
}
*/
.TopLoginBtn a:hover span::before  {
	opacity: 1;
}

.TopLoginBtn a:first-child{
	padding-right:4px;
}


.navbar-nav li a span,.TopLoginBtn a:hover span::before,.tftextinput2,button,input,select
{
transition: all .3s;
-moz-transition: all .3s; /* Firefox 4 */
-webkit-transition: all .3s; /* Safari and Chrome */
-o-transition: all .3s; /* Opera */
}


.navbar-nav  li {
  border-left: 1px solid #444045;
}

.navbar-nav li.TopLoginBtn a.UserLogout {
	padding-left:0px;
}

.navbar-nav li.TopLoginBtn{
	
}

.navbar-text {
  margin-bottom: 20px;
  margin-top: 20px;
}

.navbar-text.TopbarUserTxt {
  margin-left: 20px;
}

.LoginFormFields {
  margin-top: 20px;
}

.LoginValidationErrorList ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.LoginValidationErrorList ul li,.LoginValidationError {
  margin: 0 37px 15px;
  padding: 10px 6px 10px 48px !important;
  width: auto;
}

.LoginValidationErrorList ul li,.LoginValidationError {
  background: #ffdedd url("../Content/errorIcon.png") no-repeat scroll 12px center !important;
  box-sizing: border-box;
  color: #ce1125;
  display: inline-block;
  margin: 5px 0;
  outline: medium none;
  padding: 6px 10px 6px 40px !important;
  width: 100%;
}

.ErrorField {
  background-color: #ffdedd;
  box-sizing: border-box;
  color: #ce1125;
  left: 373px;
  min-width: 220px;
  outline: medium none;
  padding: 6px 10px;
  position: absolute;
  top: 7px;
}

.ErrorField::before {
  background: transparent none repeat scroll 0 0;
  border-bottom: 8px solid transparent;
  border-right: 10px solid #ffdedd;
  border-top: 8px solid transparent;
  content: "";
  height: 9px;
  margin-left: -19px;
  margin-top: 1px;
  position: absolute;
  width: 0;
}

.LoginPageLogo {
  margin-bottom: 20px;
}

.LoginPageLogo > img {
  margin: auto;
}

.LoginPanelHeading.InvalidUserAlert {
  background-color: #fef2f5;
  border: 1px solid #f5e3e6;
  color: #cf7373;
  font-size: 12px;
  padding: 7px;
}

.InvalidUserAlert .glyphicon {
  margin-right: 10px;
}

.LoginPageBody {
  background: #f1f1f1 none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.LoginPageContent {
  font-size: 13px;
  height: 450px;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 450px;
}

.LoginBox {
  background: white none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  box-shadow: 2px 2px 0 #c5c4c4;
  margin: auto;
  padding: 25px 30px;
  width: 420px;
}

.LoginPanelHeading {
  font-size: 16px;
  margin-bottom: 0px;
  text-align: center;
}
.LoginFormFields > .LoginFormField:first-child {
  border-bottom: medium none;
  border-radius: 3px 3px 0 0;
}

.LoginFormFields > .LoginFormField {
  border-radius: 0 0 3px 3px;
}

.LoginFormField {
  background: #f8f8f8 none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  display: flex;
  height: 46px;
  position: relative;
}

.LoginFormField .form-group {
  margin: 0;
  padding: 0;
  width: 100%;
}

.LoginFormField .form-control[type="password"], .LoginFormField .form-control[type="text"] {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  display: inline-block;
  max-width: 258px;
  text-indent: 10px;
  border-left: 1px solid #ebebeb;
}


.form-control,input[type="text"], select, textarea,input[type="file"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}

input[type="file"] {
  background-color: #f4f4f4;
  border: 1px solid #bebebe;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-sizing: unset;
  margin-bottom: 10px;
  padding: 0 !important;
}

.EditDownloadInfo {
  background-color: rgb(217, 237, 247);
  color: #3a5a69;
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
}

.TableEditPanel {
  background-color: white;
  border: 1px solid #e3e3e3;
  padding: 20px 10px;
  border-bottom:none;
}


.EditDownloadInfo .glyphicon{
  margin-right: 10px;
}

.form-control:focus,input[type="text"]:focus , select:focus , textarea:focus ,input[type="file"]:focus   {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.LoginFormField .form-group,.LoginFormField  .form-control[type="password"] ,.LoginFormField  .form-control[type="text"] {
  height: 46px;
}

input.LoginBtn {
  background-color: #ea2225;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  float: none;
  height: 38px;
  margin: 25px 0 0;
  max-width: none;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
}

input.LoginBtn:hover {
  background-color: red;
}

.LoginCheck > input[type="checkbox"] {
  float: left;
  margin-top: -2px;
}

.icon-username,.icon-password  {
  float: left;
  height: 46px;
  margin: 0;
  width: 55px;
}

.icon-password {
  background-image: url("../Content/icon-password.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-username {
  background-image: url("../Content/icon-email.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.LoginCheck  a {
  color: #e3512a;
  margin-left: 5px;
}

.LoginCheck {
  height: 22px;
  line-height: 22px;
  margin-bottom: 1px;
  margin-top: 20px;
  text-align: left;
}

.LoginCheck .glyphicon-arrow-left{
margin-right: 5px;
}


.LoginCheck .login_checkbox {
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  text-align: right;
}
.LoginCheck > input[type="checkbox"] {
  float: left;
  margin-top: 5px;
}
/*search theme1*/
/*
.kbSearchCol {
  text-align: center;
}

.kbSearchCont {
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 0 40px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 60%;
}

.tftextinput2 {
  border: 1px solid #d3d3d3;
  border-radius: 0;
  color: #666;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  margin: 0;
  max-width: 100%;
  padding: 10px 15px;
  width: 100%;
}

.tftextinput2:hover {
  border-color: #6c9dcb;
}

.tfbutton2 {
  background-color: #2c94e4;
  background-image: none;
  border: none;
  border-radius: 0;
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  outline: medium none;
  padding: 8px 25px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
}

.tfbutton2:hover {
  background: #1e87dc none repeat scroll 0 0;
  text-decoration: none;
}

*/

/*search theme2*/

.kbSearchCol {
  text-align: center;
}

.kbSearchCont {
  background-color: white;
  border: medium none;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
  display: inline-block;
  margin: 10px 0 40px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 70%;
}

.tftextinput2 {
  border: 1px solid #d3d3d3;
  border-radius: 0;
  color: #666;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  margin: 0;
  max-width: 100%;
  padding: 10px 15px;
  width: 100%;
}

.tfbutton2:hover {
  background: #D51919 none repeat scroll 0 0;
  text-decoration: none;
}

.tfbutton2 {
  background-color: #e61f1f;
  background-image: none;
  border: medium none;
  border-radius: 0;
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  outline: medium none;
  padding: 8px 25px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
}




.PageLexuxLogoCont {
  margin-top: 30px;
  text-align: center;
}


/*boxes theme 1*/
/*
.KbBox {
  background-color: white;
  border-top: 5px solid #79c3d0;
  box-shadow: 0 0 4px #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 10px 0 0;
}

.KbBoxTitle {
  overflow: hidden;
  padding: 10px 10px 20px;
}

h2.KbBoxTitleTxt {
  float: left;
  margin: 0;
  text-align: left;
  width: 85%;
}

h2.KbBoxTitleTxt a {
	 font-family: trebuchet ms;
  color: #333333;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  height: 25px;
  line-height: 27px;
  text-transform: capitalize;
}

.KbBoxTitleIcon {
  float: left;
  font-size: 24px;
  height: 33px;
  margin-right: 5px;
  width: 10%;
}

.KbBoxContent {
  margin-bottom: 15px;
  min-height: 50px;
  padding: 0 10px;
  }

  .KbBoxReadMore {
  border-top: 1px solid #ebebeb;
  color: #f7908d;
  cursor: pointer;
  font-family: trebuchet ms;
  letter-spacing: 0.5px;
  padding: 15px 0;
  text-align: center;
}

.KbBoxReadMore a{
  color: #4ab1c4;
}

h2.KbBoxTitleTxt a:hover {
text-decoration:none
}

.KbBoxReadMore:hover {
  background-color: #4ab1c4;
}

.KbBoxReadMore:hover >a,.KbBoxReadMore > a:hover {
  color: white;
  text-decoration: none;
}
*/
/*boxes theme 1*/
/*
.KbBox {
  background-color: white;
  border-top: 5px solid #79c3d0;
  box-shadow: 0 0 4px #e7e7e7;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 10px 0 0;
}

.KbBoxTitle {
  overflow: hidden;
  padding: 10px 10px 20px;
}

h2.KbBoxTitleTxt {
  float: left;
  margin: 0;
  text-align: left;
  width: 85%;
}

h2.KbBoxTitleTxt a {
	 font-family: trebuchet ms;
  color: #333333;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  height: 25px;
  line-height: 27px;
  text-transform: capitalize;
}

.KbBoxTitleIcon {
  float: left;
  font-size: 24px;
  height: 33px;
  margin-right: 5px;
  width: 10%;
}

.KbBoxContent {
  margin-bottom: 15px;
  min-height: 50px;
  padding: 0 10px;
  }

  .KbBoxReadMore {
  border-top: 1px solid #ebebeb;
  color: #f7908d;
  cursor: pointer;
  font-family: trebuchet ms;
  letter-spacing: 0.5px;
  padding: 15px 0;
  text-align: center;
}

.KbBoxReadMore a{
  color: #4ab1c4;
}

h2.KbBoxTitleTxt a:hover {
text-decoration:none
}

.KbBoxReadMore:hover {
  background-color: #4ab1c4;
}

.KbBoxReadMore:hover >a,.KbBoxReadMore > a:hover {
  color: white;
  text-decoration: none;
}
*/

/*boxes theme 2*/
/*
.KbBox {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0;
}

.KbBoxTitle {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 8px 10px;
}

h2.KbBoxTitleTxt {
  float: left;
  margin: 0;
  text-align: left;
  width: 85%;
}

h2.KbBoxTitleTxt a {
  color: #333333;
  display: inline-block;
  font-family: trebuchet ms;
  font-size: 18px;
  font-weight: normal;
  height: 25px;
  line-height: 27px;
  text-transform: capitalize;
}

.KbBoxTitleIcon {
  float: left;
  font-size: 24px;
  height: 33px;
  margin-right: 5px;
  width: 10%;
}

.KbBoxContent {
  color: #999999;
  margin-bottom: 15px;
  min-height: 50px;
  padding: 0 10px;
}

.KbBoxReadMore {
  color: #f7908d;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding: 0 0 15px;
  text-indent: 10px;
}

.KbBoxReadMore a {
  color: #e85544;
}

h2.KbBoxTitleTxt a:hover {
text-decoration:none
}

.KbBoxReadMore:hover {

}

.KbBoxReadMore:hover >a,.KbBoxReadMore > a:hover {
  text-decoration: underline;
}

*/
/*boxes theme 3*/
.KbBox {
  background-color: white;
  border-top: 2px solid #f91212;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 10px 0 0;
}

.KbBoxTitle {
  overflow: hidden;
  padding: 5px 10px 20px;
}

h2.KbBoxTitleTxt {
  float: left;
  margin: 0;
  text-align: left;
  width: 85%;
}

h2.KbBoxTitleTxt a {
  color: #333333;
  display: inline-block;
  font-family: trebuchet ms;
  font-size: 18px;
  font-weight: normal;
  height: 25px;
  line-height: 27px;
  text-transform: capitalize;
}

.KbBoxTitleIcon {
  float: left;
  font-size: 24px;
  height: 33px;
  margin-right: 5px;
  width: 10%;
}

.KbBoxContent {
  color: #999999;
  margin-bottom: 15px;
  min-height: 50px;
  padding: 0 10px;
}

.KbBoxReadMore {
  border-top: 1px solid #ebebeb;
  color: #f7908d;
  cursor: pointer;
  font-family: trebuchet ms;
  letter-spacing: 0.5px;
  padding: 15px 0;
  text-align: center;
}

.KbBoxReadMore a {
  color: #e42525;
}

.EditFormBtns {
  text-align: center;
}

h2.KbBoxTitleTxt a:hover {
text-decoration:none
}

.KbBoxReadMore:hover {
  background-color: #e42525;
}

.KbBoxReadMore:hover >a,.KbBoxReadMore > a:hover {
  color: white;
  text-decoration: none;
}

.KbBoxPageBtns {
  text-align: center;
}

.EditFormBtns .btn:first-child {
  margin: 0;
}

.EditFormBtns .btn {
  margin-left: 15px;
}

.KbBoxPageBtns .btn {
  margin-left: 10px;
}

.KbBoxContent label {
  color: gray;
  display: block;
  font-weight: normal;
}