﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | Dashboard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />   
</head>
<body class="StatsBody">
    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/signalr/hubs"></script>



    <script>
        $(window).load(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("[href]").each(function () {

                if (this.href == window.location.href) {
                   
                    $(this).addClass("activeLink");
                }
            });
            window.onbeforeunload = function () {
                try {
                    //alert("unload")
                    if ($.connection && $.connection.hub) {
                        $.connection.hub.stop();
                    }
                }
                catch (ex) { }
                finally { }
            }
        });
    </script>

    <div class="TopMenuBar">
        @Html.Partial("_TopMenu")
    </div>

    <ul class="LeftMenu">
        <li><a href="/Home/Index"><span class='glyphicon glyphicon-home'></span>Home</a></li>
        @{Html.RenderAction("GetMenuItems", "Dashboard");}

    </ul>



    <div class="container-fluid StatesPanel">
        <div>
     @*         @Html.MvcSiteMap().SiteMapPath()*@
            @RenderBody()
        </div>
    </div>

    <footer class="PageFooter">
        <div class="col-md-4"></div>
        <div class="col-md-4">© IBEX | Client Dashboard, All rights reserved.</div>
        <div class="col-md-4"></div>

    </footer>

    @RenderSection("scripts", required: false)
     @Styles.Render("~/Content/css")
</body>
</html>
