﻿@model BentleyInterface.Models.CEMMonthlyData

@{
    ViewBag.Title = "Create";
}

<!-- <!-- <img src="../Files/1.png" width="1140" style="align-content:center"> --> -->


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RegionID, "RegionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RegionID", String.Empty)
                @Html.ValidationMessageFor(model => model.RegionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Month)
                @Html.ValidationMessageFor(model => model.Month)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Records_Received, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Records_Received)
                @Html.ValidationMessageFor(model => model.Records_Received)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pending_Records, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pending_Records)
                @Html.ValidationMessageFor(model => model.Pending_Records)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Completes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Completes)
                @Html.ValidationMessageFor(model => model.Completes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
