﻿@model BentleyInterface.Models.CEMMonthlyData

@{
    ViewBag.Title = "Delete";
}

<!-- <img src="../Files/1.png" width="1140" style="align-content:center"> -->

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Records_Received)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Records_Received)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending_Records)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending_Records)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Region1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Region1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
