﻿@model IEnumerable<BentleyInterface.Models.CEMMonthlyData>

@{
    ViewBag.Title = "CEM Monthly Data";
}

<!-- <img src="../Files/1.png" width="1140" style="align-content:center"> -->

<p>
    @if (Request.IsAuthenticated && User.IsInRole("TL"))
    {
         @Html.ActionLink("Add CEM Monthly Data", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.Region1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Records_Received)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pending_Records)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completes)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Region1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Records_Received)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pending_Records)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completes)
        </td>
      
        <td>
        @if (Request.IsAuthenticated && User.IsInRole("TL"))
        {
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
        }
            
        </td>
    </tr>
}

</table>
