﻿@model ClientDashboard.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/login.css" />
@using (Html.BeginForm("Manage", "Account"))
{
    
    <div class="row settings" >
            <div class="LoginPageBody ChangePassword">

                <div class="LoginPageContent">
				
				<!-- <div class="LoginPageLogo">
                <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
				</div> -->
				
				<div class="LoginBox">
				
				<div class="LoginPanelHeading">@ViewBag.Title</div>
                 <div class="LoginValidationErrorList">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <span>@ViewBag.StatusMessage</span>
                </div>
				   <div class="LoginFormFields">
					   <div class="LoginFormField">
                        <div class="form-group">
                            <label class="icon-password"></label>
                        </div>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form__input", @placeholder = "Current Password" })

                    </div>

                    <div class="LoginFormField">
                        <div class="form-group">
                            <label class="icon-password"></label>
                        </div>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form__input", @placeholder = "New Password" })

                    </div>
					
                    <div class="LoginFormField">
                        <div class="form-group">
                            <label class="icon-password"></label>
                        </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form__input", @placeholder = "Confirm Password" })
                    </div>
				   </div>
                   <input class="LoginBtn" type="submit" value="Change Password">
				</div>
				   
				   

                </div>


            </div>

    </div>
}


