﻿@model ClientDashboard.Models.RegisterModel
@{
    ViewBag.Title = "Create Account";
}


<link rel="stylesheet" href="~/Content/login.css" />

@using (Html.BeginForm())
{
    <div class="row" style="height: 20px;">
        <div class="col-sm-12 col-md-12 ">
        </div>
    </div>  

   <div class="row" style="">

        <div class="col-md-3"></div>
        <div class="col-md-6 align" style="text-align: center">

            <div class="site__container borderstyle " >

                <div class="grid__container form form--login" style="font-size: medium">
                    <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
                    <hr />
                    <h4>@ViewBag.Title</h4>
                    <div class="form__field" style="">
                        <label class="icon-username" style="background-color: #363b41; width: 50px; height: 40px; text-align: center"></label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form__input", @placeholder = "Username" })

                    </div>

                    <div class="form__field">
                        <label class="icon-password" style="background-color: #363b41; width: 50px; height: 40px; vertical-align: middle; text-align: center"></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form__input", @placeholder = "Password" })

                    </div>
                    <div class="form__field">
                        <label class="icon-password" style="background-color: #363b41; width: 50px; height: 40px; vertical-align: middle; text-align: center"></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form__input", @placeholder = "Confirm Password" })

                    </div>

                    <div class="form__field">
                        <label class="icon-email" style="background-color: #363b41; width: 50px; height: 40px; text-align: center; vertical-align: middle;"></label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form__input", @placeholder = "Email" })

                    </div>

                     <div class="form__field">
                        <label class="icon-name" style="background-color: #363b41; width: 50px; height: 40px; text-align: center; vertical-align: middle;"></label>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form__input", @placeholder = "Full Name" })

                    </div>
                 @*   <div class="form__field">
                        <label class="icon-client" style="background-color: #363b41; width: 50px; height: 40px; text-align: center; vertical-align: middle;"></label>
                         @Html.DropDownList("RoleName", ViewBag.Roles as SelectList, new { @class = "form__input", @placeholder = "Client" })
                    </div>*@
                    <div class="form__field">
                        <input type="submit" value="Create User" style="height: 40px" class="modern">
                    </div>
                   <div style="color: red; font-weight: normal; font-size: small; padding: 0; margin: 0;  list-style-position: inside;  text-align: center">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                    </div>

                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}