﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/login.css" />
<div class="row" style="height: 100px;">
    <div class="col-sm-12 col-md-12 ">
    </div>
</div>

<div class="row" style="">

    <div class="col-md-3"></div>
    <div class="col-md-6 align" style="text-align: center">

        <div class="site__container borderstyle " >
            <div class="grid__container form form--login" style="font-size: medium;text-align:center">
                <img src="@Url.Content("~/Images/cd-logo-1.png")" class="img-responsive" />
                <hr />
                <h4>@ViewBag.Title</h4>
                <span style="color: red;">@TempData["Message"]</span>
            </div>
        </div>
    </div>

</div>




