﻿
<h3 class="StatPanelTitle">Calls Information</h3>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div class="CallStatTitle">Answered</div>
            <div class="CallStatData" id="hi-icon-ans"></div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">
        <div class="CallStatBx">
            <div class="CallStatTitle">Offered</div>
            <div id="hi-icon-off" class="CallStatData"></div>
        </div>
    </div>
      <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">

        <div class="CallStatBx">
            <div class="CallStatTitle">Abandoned</div>
            <div class="CallStatData" id="hi-icon-aban"></div>

        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 CallStatBxBorder">

        <div class="CallStatBx">
            <div class="CallStatTitle">Queue</div>
            <div class="CallStatData" id="hi-icon-que">0</div>
        </div>
    </div>
  
    <div class="col-md-3 col-sm-4 col-xs-4 CallStatBxBorder">

        <div class="CallStatBx">
            <div class="CallStatTitle">Occupancy</div>
            <div class="CallStatData" id="hi-icon-occ"></div>

        </div>
    </div>


</div>
