﻿@{
    ViewBag.Title = "Glossary";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#DialingStatus").hide()
        $("#lastupdateon").hide();
        $("#dialog").hide();
    });
</script>
@model IEnumerable<ClientDashboard.Models.Glossary>
@{Html.RenderAction("GetHeaderContent", "Dashboard");}
<div class="GlossaryCont">
    @*  <h3><span aria-hidden="true" class="glyphicon glyphicon-book"></span>Glossary</h3>*@

    @foreach (var item in Model)
    {
        <div class="row">

            <div class="col-sm-3 col-xs-12 Title"><strong>@Html.DisplayFor(modelItem => item.Term)</strong> </div>
            <div class="col-sm-6 col-xs-12 Desc">@Html.DisplayFor(modelItem => item.Description)	</div>
        </div>
     
    }
</div>
