﻿@{
    ViewBag.Title = "Agent";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@Scripts.Render("~/bundles/Highcharts")
<script src="~/Scripts/Custom/IBAgent.js"></script>


<div>

    <div>
         @{Html.RenderAction("GetHeaderContent", "Dashboard");}
        <div class="row">
            
            <div class="StatPanelsCont">
                <div class="col-sm-12 col-md-12">
                    <div class="StatPanel" style="min-height:400px">
                        <div id="graphcontainer" style="height: 400px; width: 100%"></div>
                        <img id="spinner"  src="~/Images/loader.gif" class="spinner" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="StatPanelsCont">
                <div class="col-sm-12">
                    <div class="TableContainer StatPanel">

                        <!-- <table id="agenttable"  class="Custable display responsive nowrap"> -->
                        <table id="agenttable" class="Custable " width="100%">
                            <thead>
                                <tr>
                                    
                                    <th>Agent ID</th>
                                    <th>Agent Name</th>
                                    <th>Calls</th>
                                    <th>State</th>
                                    <th>State Time</th>
                                    <th>Time since last call</th>
                                    <th>AHT </th>
                                    <th>Login Time</th>
                                    <th>Break Time</th>
                                    <th>Available Time</th>
                                    <th>Handle Time</th>
                                    <th>Production Time</th>
                                    <th>Occupancy %</th>
                                </tr>
                                 <tr id="frow" style='text-align:right;background-color:#fff;color:#000;font-size:10px;font-weight:bolder'>
                                    <th >Total</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                           
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

