﻿@model BentleyInterface.Models.AbbottWeeklyTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AbbottWeeklyTeam</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Week_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adverse_Events)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adverse_Events)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quality_Complaints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quality_Complaints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
