﻿@model BentleyInterface.Models.AbbottWeeklyTeam

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Week_Start_Date)

        <div class="form-group">
            @Html.LabelFor(model => model.Week_Start_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Week_Start_Date)
                @Html.ValidationMessageFor(model => model.Week_Start_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adverse_Events, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adverse_Events)
                @Html.ValidationMessageFor(model => model.Adverse_Events)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quality_Complaints, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quality_Complaints)
                @Html.ValidationMessageFor(model => model.Quality_Complaints)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
