﻿@model IEnumerable<BentleyInterface.Models.AbbottWeeklyTeam>

@{
    ViewBag.Title = "Adverse Event/Quality Complaints";
}

<p>
    @Html.ActionLink("Add Adverse Event/Quality Complaints", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Week_Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adverse_Events)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality_Complaints)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Week_Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adverse_Events)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality_Complaints)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>
