﻿@{
    ViewBag.Title = "Abbott Home Page";
}

<div class="jumbotron">
    <h1>Abbott Reporting Interface</h1>
    <p class="lead">This Application is used to get Data input for Abbott</p>
    <p><a href="http://www.abbott.co.uk/" class="btn btn-default">Learn more about Abbott &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Weekly Reports</h2>
        <p><a class="btn btn-primary btn-large" href="~/AbbottWeeklyQuality"> Abbott Weekly Quality Report &raquo;</a></p>
        <p><a class="btn btn-primary btn-large" href="~/AbbottWeeklyEvents"> Adverse Events/complaints &raquo;</a></p>       
    </div>
    <div class="col-md-4">
        <h2>Daily Reports</h2>
        <p><a class="btn btn-primary btn-large" href="~/AbbottAgentsDaily">Daily Agent Data Input &raquo;</a></p>
       
    </div>

</div>