﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Developed by Zeeshan Ahmed</h3>

<address>
    2nd Floor CastleMead House<br />
    Lower Castle Street Bristol BS1 3AG<br />
    <abbr title="Phone">P:</abbr>
    +441173724204
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Zeeshan.Ahmed@IbexGlobal.com">Zeeshan.Ahmed@IbexGlobal.com</a><br />
</address>