﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bentley Data Input</h1>
    <p class="lead">This Application is used to get Data input for Bentley Campaigns</p>
    <p><a href="http://www.bentleymotors.com/" class="btn btn-default">Learn more about Bentley &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact Center Input</h2>
        <p><a class="btn btn-primary btn-large" href="~/CC"> Activity Recorder &raquo;</a></p>
        @if (Request.IsAuthenticated && User.IsInRole("CFManager"))
        {
            <p><a class="btn btn-primary btn-large" href="~/CF"> Complaint Form &raquo;</a></p>
        }
    </div>
    <div class="col-md-4">
        <h2>CEM Data Input</h2>
        <p><a class="btn btn-primary btn-large" href="~/CEMDaily">Daily Data Input &raquo;</a></p>
        <p><a class="btn btn-primary btn-large" href="~/CEMMonthly">Monthly Data Input &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Bentley Knowledgebase</h2>
        @if (Request.IsAuthenticated && User.IsInRole("KBEditor"))
        { 
            <p><a class="btn btn-primary btn-large" href="~/KB/Create"> Add Content &raquo;</a></p>
        }
        <p><a class="btn btn-primary btn-large" href="~/Category"> Review Categories &raquo;</a></p>
        <p><a class="btn btn-primary btn-large" href="~/KB"> Bentley Knowledgebase &raquo;</a></p>
    </div>
</div>