﻿@model BentleyInterface.Models.COMPLAINTFORM

@{
    ViewBag.Title = "Add Complaint";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.SubCampaign, "SubCampaign", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubCampaign", "Select Campaign")
                @Html.ValidationMessageFor(model => model.SubCampaign)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telephone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telephone)
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeofCall, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeofCall)
                @Html.ValidationMessageFor(model => model.TimeofCall)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BCMS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BCMS)
                @Html.ValidationMessageFor(model => model.BCMS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgentName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgentName)
                @Html.ValidationMessageFor(model => model.AgentName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details)
                @Html.ValidationMessageFor(model => model.Details)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Severity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Severity", "Select Severity")
                @Html.ValidationMessageFor(model => model.Severity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamLeaderName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TeamLeaderName)
                @Html.ValidationMessageFor(model => model.TeamLeaderName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BentleyAdvisedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BentleyAdvisedDate)
                @Html.ValidationMessageFor(model => model.BentleyAdvisedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BentleyContactName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BentleyContactName)
                @Html.ValidationMessageFor(model => model.BentleyContactName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScannedandEmailedto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScannedandEmailedto)
                @Html.ValidationMessageFor(model => model.ScannedandEmailedto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Complaint Form" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
