﻿@model BentleyInterface.Models.COMPLAINTFORM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COMPLAINTFORM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeofCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeofCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BCMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BCMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLeaderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLeaderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BentleyAdvisedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BentleyAdvisedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BentleyContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BentleyContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScannedandEmailedto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScannedandEmailedto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CFCampaing.campaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFCampaing.campaign)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
