﻿@model BentleyInterface.Models.COMPLAINTFORM

@{
    ViewBag.Title = "Complaint Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubCampaign)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CFCampaing.campaign)
            <br />
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Name)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
            <br />
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Date)
            <br />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeofCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeofCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BCMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BCMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLeaderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLeaderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BentleyAdvisedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BentleyAdvisedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BentleyContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BentleyContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScannedandEmailedto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScannedandEmailedto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

