﻿@model IEnumerable<BentleyInterface.Models.COMPLAINTFORM>

@{
    ViewBag.Title = "Compalints";
}

<p>
    @Html.ActionLink("Add New Complaint", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubCampaign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeofCall)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BCMS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Severity)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CFCampaing.campaign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeofCall)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BCMS)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
