﻿@model BentleyInterface.Models.CEMDailyData

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegionID, "RegionID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RegionID", String.Empty)
                @Html.ValidationMessageFor(model => model.RegionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours_Scheduled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours_Scheduled)
                @Html.ValidationMessageFor(model => model.Hours_Scheduled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours_Delivered, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours_Delivered)
                @Html.ValidationMessageFor(model => model.Hours_Delivered)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data_Added, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data_Added)
                @Html.ValidationMessageFor(model => model.Data_Added)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Completes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Completes)
                @Html.ValidationMessageFor(model => model.Completes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pending_Records, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pending_Records)
                @Html.ValidationMessageFor(model => model.Pending_Records)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
