﻿@model BentleyInterface.Models.CEMDailyData

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours_Scheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours_Scheduled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours_Delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours_Delivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending_Records)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending_Records)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Region1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Region1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
