﻿@model BentleyInterface.Models.CEMDailyData

@{
    ViewBag.Title = "Details";
}



<div>

	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours_Scheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours_Scheduled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours_Delivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours_Delivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Added)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Added)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pending_Records)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pending_Records)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Region1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Region1)
        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("TL"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
