﻿@model IEnumerable<BentleyInterface.Models.CEMDailyData>

@{
    ViewBag.Title = "CEM Daily Data";
}



<p>
    @if (Request.IsAuthenticated && User.IsInRole("TL"))
    {
         @Html.ActionLink("Add CEM Daily Data", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region.Region1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours_Scheduled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours_Delivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pending_Records)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Region1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours_Scheduled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours_Delivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pending_Records)
        </td>
       
        <td>
          @if (Request.IsAuthenticated && User.IsInRole("TL"))
          {
              @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
          }
        </td>
    </tr>
}

</table>
