﻿<script>

    $(document).ready(function () {
        $("#CategoryMenu").empty();


        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCategories","Category")',
            dataType: 'json',
            success: function (data) {



                for (var i = 0; i < data.id.length; i++) {
                    $("#CategoryMenu").append('<li><a href="/KB/AAIC/' + data.id[i] + '">' +
                          data.category[i] + '</a></li>');


                }
            },
                error: function (ex) {
                    alert('Failed to retrieve Categories.' + ex);
                }
            });
        return false;
    })

</script>

<div class="QuickLinksList"><div class="QLTitle">Quick Links</div><ul id="CategoryMenu"></ul></div>


