﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bentley Interface</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/modernizr-2.6.2.js")

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




</head>
<body class="MainBody">
    @*<div class="navbar navbar-inverse navbar-fixed-top TopNav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!User.IsInRole("Admin"))
                {
                    @Html.ActionLink("IBEX KB", "Index", "KB", null, new { @class = "navbar-brand" })
                }
                <a class="navbar-brand Logo" href="#"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Bentley Interface", "Index", "Home")</li>
                    <li>@Html.ActionLink("Abbott", "Abbott", "Home")</li>
                    <li>@Html.ActionLink("Knowledge Base", "Index", "KB")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                    }

                    @Html.Partial("_LoginPartial")

                </ul>

            </div>
        </div>
    </div>*@

    <div class="container body-content">
        @if (ViewBag.Title != "Home Page" && ViewBag.Title != "Abbott Home Page")
        {
            if (User.IsInRole("Bentley"))
            {
                <div class="PageLexuxLogoCont"><img src="~/Content/1.png" width="137" style="align-content:center" /></div>
            }
            else if (User.IsInRole("Abbott"))
            {
                <img src="~/Content/Abbott.jpg" width="900" height="100" style="align-content:center" />
                <br />
            }
            else
            {
                <br />
                <img src="~/Content/IBEXGlobal.jpg" width="1140" style="align-content:center" />
            }
        }
        @RenderBody()

        <footer class="PageCopright navbar-fixed-bottom">© @DateTime.Now.Year IBEX | KB, All rights reserved.</footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
