﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <li class="TopLoginBtn">
	@Html.ActionLink("Hello, " + User.Identity.GetUserName() + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) 
	<a class="UserLogout" href="javascript:document.getElementById('logoutForm').submit()" title="Log Off" >
	<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
	</a>
	</li>

    }
}
else
{

        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
