﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h2 class="text-error">An error occurred while processing your request. Please notify Tech Team.</h2>
</hgroup>

<h2>Exception details</h2>
<p>
    Controller: @Model.ControllerName <br>
    Action: @Model.ActionName
    Exception: @Model.Exception
</p>

@{
//    var sentFrom = "Zeeshan.Ahmed@IbexGlobal.com";
    
//    System.Net.Mail.SmtpClient client =
//        new System.Net.Mail.SmtpClient("trgmail01.trgworld.com");

//    client.Port = 25;
//    client.DeliveryMethod = System.Net.Mail.SmtpDeliveryMethod.Network;
//    client.UseDefaultCredentials = false;

//    var mail =
//new System.Net.Mail.MailMessage(sentFrom, "Zeeshan.Ahmed@IbexGlobal.com");

//    mail.Subject = "Exception in Application";

//    mail.IsBodyHtml = true;


//    mail.Body = "<b>Controller Name: </b>" + Model.ControllerName + "<br/>" + "<br/>" + "<b>Action Name: </b>" + Model.ActionName + "<br/>" + "<br/>" + "<b>Exception Details: </b>" + Model.Exception;
        
//    client.Send(mail); 
    
}